packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-83-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "RSS Feed Read": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Suno V4.5+",
                      "link": "https://www.producthunt.com/posts/suno-v4-5-6",
                      "pubDate": "2025-07-18T05:29:52.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            New ways to create\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/suno-v4-5-6?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994407?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994407",
                      "isoDate": "2025-07-18T05:29:52.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Trumpet",
                      "link": "https://www.producthunt.com/posts/trumpet-3",
                      "pubDate": "2025-07-02T11:38:32.000Z",
                      "author": "Deddy Rumapea",
                      "content": "          <p>\n            Alerts when Trump moves the market\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/trumpet-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/987110?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/987110",
                      "isoDate": "2025-07-02T11:38:32.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "NeetoCal V2",
                      "link": "https://www.producthunt.com/posts/neetocal-v2",
                      "pubDate": "2025-06-23T10:29:15.000Z",
                      "author": "T Sudhish Nair",
                      "content": "          <p>\n            Schedule and mange meeting effortlessly\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/neetocal-v2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/982472?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/982472",
                      "isoDate": "2025-06-23T10:29:15.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "LLMHub",
                      "link": "https://www.producthunt.com/posts/llmhub",
                      "pubDate": "2025-07-17T14:48:59.000Z",
                      "author": "Prateek Jannu",
                      "content": "          <p>\n            Real-time collaborative search with AI agents for teams\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/llmhub?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994237?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994237",
                      "isoDate": "2025-07-17T14:48:59.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Banter Messenger ",
                      "link": "https://www.producthunt.com/posts/banter-messenger",
                      "pubDate": "2025-07-17T16:37:51.000Z",
                      "author": "Marco Niño",
                      "content": "          <p>\n            If you care, you banter \n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/banter-messenger?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994270?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994270",
                      "isoDate": "2025-07-17T16:37:51.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Growdoro",
                      "link": "https://www.producthunt.com/posts/growdoro",
                      "pubDate": "2025-07-18T06:48:17.000Z",
                      "author": "JP",
                      "content": "          <p>\n            Gamified focus timer where you grow an infinite garden\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/growdoro?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994444?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994444",
                      "isoDate": "2025-07-18T06:48:17.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Higgsfield UGC Builder",
                      "link": "https://www.producthunt.com/posts/higgsfield-ugc-builder",
                      "pubDate": "2025-07-17T15:00:49.000Z",
                      "author": "Ankit Sharma",
                      "content": "          <p>\n            Total scene control in a single interface\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/higgsfield-ugc-builder?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994245?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994245",
                      "isoDate": "2025-07-17T15:00:49.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "mention.click",
                      "link": "https://www.producthunt.com/posts/mention-click",
                      "pubDate": "2025-07-17T11:14:40.000Z",
                      "author": "Mykola Popov",
                      "content": "          <p>\n            Ideate, validate and find leads through Reddit conversations\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mention-click?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994142?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994142",
                      "isoDate": "2025-07-17T11:14:40.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Deep Research and Imagen in Le Chat",
                      "link": "https://www.producthunt.com/posts/deep-research-and-imagen-in-le-chat",
                      "pubDate": "2025-07-18T04:57:25.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Le Chat dives deep (and fun!)\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/deep-research-and-imagen-in-le-chat?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994399?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994399",
                      "isoDate": "2025-07-18T04:57:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Bestever",
                      "link": "https://www.producthunt.com/posts/bestever",
                      "pubDate": "2025-07-17T13:17:43.000Z",
                      "author": "Apoorva Govind",
                      "content": "          <p>\n            Analyze ad data; automate winning creatives\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/bestever?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994200?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994200",
                      "isoDate": "2025-07-17T13:17:43.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "ChatGPT agent",
                      "link": "https://www.producthunt.com/posts/chatgpt-agent",
                      "pubDate": "2025-07-17T18:00:22.000Z",
                      "author": "Ankit Sharma",
                      "content": "          <p>\n            Bridging research and action\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/chatgpt-agent?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994292?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994292",
                      "isoDate": "2025-07-17T18:00:22.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "ADK-TS",
                      "link": "https://www.producthunt.com/posts/adk-ts",
                      "pubDate": "2025-07-16T11:05:44.000Z",
                      "author": "César Rodríguez",
                      "content": "          <p>\n            Build smart, tool-using agents in just one line\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/adk-ts?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993696?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993696",
                      "isoDate": "2025-07-16T11:05:44.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Beeper",
                      "link": "https://www.producthunt.com/posts/beeper-4",
                      "pubDate": "2025-07-17T01:29:03.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            All your chats in one app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/beeper-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993950?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993950",
                      "isoDate": "2025-07-17T01:29:03.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Capable",
                      "link": "https://www.producthunt.com/posts/capable",
                      "pubDate": "2025-05-16T18:08:01.000Z",
                      "author": "Pavel Tseluyko",
                      "content": "          <p>\n            Build dynamic prompts to speed up your repetitive work\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/capable?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/966428?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/966428",
                      "isoDate": "2025-05-16T18:08:01.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "iBucket",
                      "link": "https://www.producthunt.com/posts/ibucket-2",
                      "pubDate": "2025-07-16T10:54:54.000Z",
                      "author": "Kai Mallie",
                      "content": "          <p>\n            Achieve goals, plan trips, track places and share memories\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ibucket-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993690?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993690",
                      "isoDate": "2025-07-16T10:54:54.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kite",
                      "link": "https://www.producthunt.com/posts/kite-16",
                      "pubDate": "2025-07-15T23:30:52.000Z",
                      "author": "Ashton Prescott",
                      "content": "          <p>\n            Turn email into your superpower\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kite-16?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993458?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993458",
                      "isoDate": "2025-07-15T23:30:52.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Vmake",
                      "link": "https://www.producthunt.com/posts/vmake-2",
                      "pubDate": "2025-07-16T12:20:13.000Z",
                      "author": "Cyril Hao",
                      "content": "          <p>\n            AI talking video editor\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/vmake-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993728?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993728",
                      "isoDate": "2025-07-16T12:20:13.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Clevr",
                      "link": "https://www.producthunt.com/posts/clevr",
                      "pubDate": "2025-07-16T15:24:32.000Z",
                      "author": "Mohammed Mustafa",
                      "content": "          <p>\n            Finally, an AI that talks and explains it visually\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/clevr?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993794?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993794",
                      "isoDate": "2025-07-16T15:24:32.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Easy Bookmark Viewer",
                      "link": "https://www.producthunt.com/posts/easy-bookmark-viewer-2",
                      "pubDate": "2025-07-17T06:13:52.000Z",
                      "author": "Himanshu Raikwar",
                      "content": "          <p>\n            A beautiful and powerful new tab for your bookmarks.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/easy-bookmark-viewer-2?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994011?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994011",
                      "isoDate": "2025-07-17T06:13:52.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "UTCP",
                      "link": "https://www.producthunt.com/posts/utcp",
                      "pubDate": "2025-07-15T04:47:15.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            The open, direct alternative to MCP for tool calling\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/utcp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992998?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/992998",
                      "isoDate": "2025-07-15T04:47:15.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "NotebookLM Featured Notebooks",
                      "link": "https://www.producthunt.com/posts/notebooklm-featured-notebooks",
                      "pubDate": "2025-07-16T03:52:44.000Z",
                      "author": "Zac Zuo",
                      "content": "          <p>\n            Explore topics with expert-driven sources\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/notebooklm-featured-notebooks?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993502?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993502",
                      "isoDate": "2025-07-16T03:52:44.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Symvol",
                      "link": "https://www.producthunt.com/posts/symvol-150b90b1-8e78-4e14-b275-ac7654f710d9",
                      "pubDate": "2025-07-17T06:59:13.000Z",
                      "author": "Feliks Ghazaryan",
                      "content": "          <p>\n            Turn any tech doc into a video explainer to vibelearn\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/symvol-150b90b1-8e78-4e14-b275-ac7654f710d9?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/994029?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/994029",
                      "isoDate": "2025-07-17T06:59:13.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Textalyz",
                      "link": "https://www.producthunt.com/posts/textalyz",
                      "pubDate": "2025-06-11T13:09:43.000Z",
                      "author": "Jim Raptis",
                      "content": "          <p>\n            Bridge language gaps. Write & communicate like a pro\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/textalyz?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/977095?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/977095",
                      "isoDate": "2025-06-11T13:09:43.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Snack it",
                      "link": "https://www.producthunt.com/posts/snack-it",
                      "pubDate": "2025-07-16T03:48:35.000Z",
                      "author": "Eder Teixeira",
                      "content": "          <p>\n            Build AI moodboards from anything you see online 🍫\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/snack-it?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993501?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993501",
                      "isoDate": "2025-07-16T03:48:35.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Maestro Studio Desktop Beta",
                      "link": "https://www.producthunt.com/posts/maestro-studio-desktop-beta",
                      "pubDate": "2025-06-19T19:21:26.000Z",
                      "author": "Manu Armani",
                      "content": "          <p>\n            Run mobile & web tests in minutes with a desktop app\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/maestro-studio-desktop-beta?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/981046?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/981046",
                      "isoDate": "2025-06-19T19:21:26.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Runway",
                      "link": "https://www.producthunt.com/posts/runway-12",
                      "pubDate": "2025-07-14T22:27:57.000Z",
                      "author": "Ford Coleman",
                      "content": "          <p>\n            Applicant ranking tool that adapts to YOUR hiring priorities\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/runway-12?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992924?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/992924",
                      "isoDate": "2025-07-14T22:27:57.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Untitled UI React",
                      "link": "https://www.producthunt.com/posts/untitled-ui-react",
                      "pubDate": "2025-07-07T05:58:29.000Z",
                      "author": "Jordan Hughes",
                      "content": "          <p>\n            Open-source React components. Just copy, paste, and build.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/untitled-ui-react?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/989272?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/989272",
                      "isoDate": "2025-07-07T05:58:29.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Snapsnob",
                      "link": "https://www.producthunt.com/posts/snapsnob",
                      "pubDate": "2025-07-16T07:56:46.000Z",
                      "author": "Nurmukhamed",
                      "content": "          <p>\n            Snapsnob is iOS app that helps you clean your photo gallery!\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/snapsnob?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993615?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993615",
                      "isoDate": "2025-07-16T07:56:46.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Base App (fka Coinbase Wallet)",
                      "link": "https://www.producthunt.com/posts/base-app-fka-coinbase-wallet",
                      "pubDate": "2025-07-17T00:56:03.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            Your home to everything onchain\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/base-app-fka-coinbase-wallet?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993943?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993943",
                      "isoDate": "2025-07-17T00:56:03.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "UGCReal",
                      "link": "https://www.producthunt.com/posts/ugcreal",
                      "pubDate": "2025-07-16T07:37:08.000Z",
                      "author": "sam enn",
                      "content": "          <p>\n            Turn app screenshots into viral UGC in seconds\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/ugcreal?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993604?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993604",
                      "isoDate": "2025-07-16T07:37:08.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Mezzie",
                      "link": "https://www.producthunt.com/posts/mezzie",
                      "pubDate": "2025-07-16T07:44:56.000Z",
                      "author": "Rob",
                      "content": "          <p>\n            Auto‑selects an optimal AI for each message, seamlessly\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mezzie?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993610?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993610",
                      "isoDate": "2025-07-16T07:44:56.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Kawara 2.0",
                      "link": "https://www.producthunt.com/posts/kawara-2-0",
                      "pubDate": "2025-07-12T21:05:38.000Z",
                      "author": "Ben Lang",
                      "content": "          <p>\n            Send newsletters consistently, zero writer’s block\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/kawara-2-0?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991984?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/991984",
                      "isoDate": "2025-07-12T21:05:38.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Uncursor",
                      "link": "https://www.producthunt.com/posts/uncursor",
                      "pubDate": "2025-07-16T17:42:56.000Z",
                      "author": "Jaydan Urwin",
                      "content": "          <p>\n            Build apps and websites with AI. On iOS, Android, & the web\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/uncursor?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993834?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993834",
                      "isoDate": "2025-07-16T17:42:56.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Modernbanc",
                      "link": "https://www.producthunt.com/posts/modernbanc",
                      "pubDate": "2025-07-15T21:08:25.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            The first AI financial assistant for business owners.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/modernbanc?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993438?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993438",
                      "isoDate": "2025-07-15T21:08:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Faces",
                      "link": "https://www.producthunt.com/posts/faces-4",
                      "pubDate": "2025-07-14T20:40:02.000Z",
                      "author": "Aaron O'Leary",
                      "content": "          <p>\n            Instant sites for decks, docs, landings and more\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/faces-4?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992892?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/992892",
                      "isoDate": "2025-07-14T20:40:02.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Jokr.bar",
                      "link": "https://www.producthunt.com/posts/jokr-bar",
                      "pubDate": "2025-07-15T19:49:26.000Z",
                      "author": "Cem Özçelik",
                      "content": "          <p>\n            A well-timed joke to stop your visitors from bouncing.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/jokr-bar?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993418?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993418",
                      "isoDate": "2025-07-15T19:49:26.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "MCP-Builder.ai",
                      "link": "https://www.producthunt.com/posts/mcp-builder-ai",
                      "pubDate": "2025-06-20T17:31:13.000Z",
                      "author": "fmerian",
                      "content": "          <p>\n            Create your custom MCP-Server in seconds\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mcp-builder-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/981509?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/981509",
                      "isoDate": "2025-06-20T17:31:13.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Dorma",
                      "link": "https://www.producthunt.com/posts/dorma",
                      "pubDate": "2025-07-15T12:55:25.000Z",
                      "author": "Benhur Senabathi",
                      "content": "          <p>\n            Feel rested during your trips\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/dorma?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993270?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993270",
                      "isoDate": "2025-07-15T12:55:25.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Easy Scribe",
                      "link": "https://www.producthunt.com/posts/easy-scribe",
                      "pubDate": "2025-07-15T05:53:57.000Z",
                      "author": "Fabian Kiprop",
                      "content": "          <p>\n            Rich documentation from screen recordings\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/easy-scribe?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993029?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993029",
                      "isoDate": "2025-07-15T05:53:57.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Access 3",
                      "link": "https://www.producthunt.com/posts/access-3",
                      "pubDate": "2025-07-15T17:35:05.000Z",
                      "author": "Andre Baev",
                      "content": "          <p>\n            A trusted home for your most sensitive data\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/access-3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993378?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993378",
                      "isoDate": "2025-07-15T17:35:05.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Haplo AI",
                      "link": "https://www.producthunt.com/posts/haplo-ai",
                      "pubDate": "2025-07-15T18:14:41.000Z",
                      "author": "JC",
                      "content": "          <p>\n            Secure & local AI chatbot for iOS and macOS\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/haplo-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993390?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993390",
                      "isoDate": "2025-07-15T18:14:41.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Devex",
                      "link": "https://www.producthunt.com/posts/devex",
                      "pubDate": "2025-07-15T23:56:37.000Z",
                      "author": "Parth Kapoor",
                      "content": "          <p>\n            Your own open-source, containerized and shareable cloud IDE.\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/devex?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993462?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993462",
                      "isoDate": "2025-07-15T23:56:37.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "AIRI",
                      "link": "https://www.producthunt.com/posts/airi",
                      "pubDate": "2025-07-16T05:05:06.000Z",
                      "author": "Neko Ayaka",
                      "content": "          <p>\n            Cyber livings in any devices, Grok Companion alternative\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/airi?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993524?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993524",
                      "isoDate": "2025-07-16T05:05:06.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Bookva.ai",
                      "link": "https://www.producthunt.com/posts/bookva-ai",
                      "pubDate": "2025-07-10T15:53:22.000Z",
                      "author": "Pavel Kucherbaev",
                      "content": "          <p>\n            If Calendly was beautiful as WeTransfer and smart as ChatGPT\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/bookva-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991109?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/991109",
                      "isoDate": "2025-07-10T15:53:22.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Mozart AI",
                      "link": "https://www.producthunt.com/posts/mozart-ai",
                      "pubDate": "2025-06-23T13:02:56.000Z",
                      "author": "Chris Messina",
                      "content": "          <p>\n            Cursor for music production\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/mozart-ai?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/982567?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/982567",
                      "isoDate": "2025-06-23T13:02:56.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Blink",
                      "link": "https://www.producthunt.com/posts/blink-9f3ad800-862d-4562-bf61-3f866ab0bdb3",
                      "pubDate": "2025-07-14T23:03:31.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            Build any app in seconds with AI\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/blink-9f3ad800-862d-4562-bf61-3f866ab0bdb3?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992929?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/992929",
                      "isoDate": "2025-07-14T23:03:31.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Webhound",
                      "link": "https://www.producthunt.com/posts/webhound",
                      "pubDate": "2025-07-12T20:24:38.000Z",
                      "author": "Garry Tan",
                      "content": "          <p>\n            An AI agent that builds datasets from the web\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/webhound?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/991971?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/991971",
                      "isoDate": "2025-07-12T20:24:38.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Glyp",
                      "link": "https://www.producthunt.com/posts/glyp",
                      "pubDate": "2025-07-15T09:26:20.000Z",
                      "author": "Chris T",
                      "content": "          <p>\n            Consistent influencer videos to scale your traffic & revenue\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/glyp?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993155?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993155",
                      "isoDate": "2025-07-15T09:26:20.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Brain MAX by ClickUp",
                      "link": "https://www.producthunt.com/posts/brain-max-by-clickup",
                      "pubDate": "2025-07-14T00:00:07.000Z",
                      "author": "KP",
                      "content": "          <p>\n            One AI app to rule them all: Your knowledge + Talk to Text \n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/brain-max-by-clickup?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/992401?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/992401",
                      "isoDate": "2025-07-14T00:00:07.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "RouKey",
                      "link": "https://www.producthunt.com/posts/roukey",
                      "pubDate": "2025-07-16T06:56:04.000Z",
                      "author": "Okoro David",
                      "content": "          <p>\n            Route each task to the smartest AI for the job\n          </p>\n          <p>\n            <a href=\"https://www.producthunt.com/posts/roukey?utm_campaign=producthunt-atom-posts-feed&amp;utm_medium=rss-feed&amp;utm_source=producthunt-atom-posts-feed\">Discussion</a>\n            |\n            <a href=\"https://www.producthunt.com/r/p/993580?app_id=339\">Link</a>\n          </p>\n",
                      "contentSnippet": "Discussion\n            |\n            Link",
                      "id": "tag:www.producthunt.com,2005:Post/993580",
                      "isoDate": "2025-07-16T06:56:04.000Z"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "RSS Feed Read"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}