packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-209-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set job name": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "job_name": "nodemation_job_1752843109709"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AWS Transcribe": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Set job name"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "CreationTime": 1752843110.147,
                      "LanguageCode": "en-US",
                      "Media": {
                        "MediaFileUri": "s3://fixedtestbucket/nodemation.wav"
                      },
                      "Settings": {},
                      "StartTime": 1752843110.164,
                      "TranscriptionJobName": "nodemation_job_1752843109709",
                      "TranscriptionJobStatus": "IN_PROGRESS"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AWS Transcribe1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "AWS Transcribe"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "CreationTime": 1752843110.147,
                      "LanguageCode": "en-US",
                      "Media": {
                        "MediaFileUri": "s3://fixedtestbucket/nodemation.wav"
                      },
                      "Settings": {
                        "ChannelIdentification": false,
                        "ShowAlternatives": false
                      },
                      "StartTime": 1752843110.164,
                      "Transcript": {},
                      "TranscriptionJobName": "nodemation_job_1752843109709",
                      "TranscriptionJobStatus": "IN_PROGRESS"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "AWS Transcribe2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "AWS Transcribe1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "CreationTime": 1752843110.147,
                      "LanguageCode": "en-US",
                      "OutputLocationType": "SERVICE_BUCKET",
                      "StartTime": 1752843110.164,
                      "TranscriptionJobName": "nodemation_job_1752843109709",
                      "TranscriptionJobStatus": "IN_PROGRESS"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Sleep 30 seconds": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "AWS Transcribe2"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "CreationTime": 1752843110.147,
                      "LanguageCode": "en-US",
                      "OutputLocationType": "SERVICE_BUCKET",
                      "StartTime": 1752843110.164,
                      "TranscriptionJobName": "nodemation_job_1752843109709",
                      "TranscriptionJobStatus": "IN_PROGRESS"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "AWS Transcribe3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Sleep 30 seconds"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "AWS Transcribe3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}