packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-256-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking ‘Test workflow’": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenAI Chat Model": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 2,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "generations": [
                          [
                            {
                              "text": "",
                              "generationInfo": {
                                "prompt": 0,
                                "completion": 0,
                                "finish_reason": "tool_calls",
                                "system_fingerprint": null,
                                "model_name": "gpt-4o-mini-2024-07-18",
                                "service_tier": "default"
                              }
                            }
                          ]
                        ]
                      },
                      "tokenUsage": {
                        "completionTokens": 25,
                        "promptTokens": 85,
                        "totalTokens": 110
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: You are a helpful assistant\nHuman: What happened yesterday?"
                      ],
                      "estimatedTokens": 14,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model",
                  "runIndex": 0
                }
              ]
            }
          },
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 7,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "generations": [
                          [
                            {
                              "text": "I don’t have information on the events that occurred yesterday. Is there something specific you are interested in learning about?",
                              "generationInfo": {
                                "prompt": 0,
                                "completion": 0,
                                "finish_reason": "stop",
                                "system_fingerprint": null,
                                "model_name": "gpt-4o-mini-2024-07-18",
                                "service_tier": "default"
                              }
                            }
                          ]
                        ]
                      },
                      "tokenUsage": {
                        "completionTokens": 24,
                        "promptTokens": 119,
                        "totalTokens": 143
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: You are a helpful assistant\nHuman: What happened yesterday?\nAI: \nTool: "
                      ],
                      "estimatedTokens": 20,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model",
                  "runIndex": 1
                }
              ]
            }
          }
        ],
        "Vector Store Tool": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 3,
            "executionStatus": "error",
            "source": [
              {
                "previousNode": "AI Agent",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "What happened on October 18, 2023?"
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "What happened on October 18, 2023?"
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "Vector Store Tool",
                  "runIndex": 0
                }
              ]
            },
            "error": {
              "message": "The resource you are requesting could not be found",
              "timestamp": 1752843131830,
              "name": "NodeOperationError",
              "description": "The resource you are requesting could not be found",
              "context": {}
            }
          }
        ],
        "In-Memory Vector Store": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 4,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "Vector Store Tool",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_vectorStore": [
                [
                  {
                    "json": {
                      "response": []
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_vectorStore": [
                [
                  {
                    "json": {
                      "query": "What happened on October 18, 2023?",
                      "k": 4
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "In-Memory Vector Store",
                  "runIndex": 0
                }
              ]
            }
          }
        ],
        "Embeddings OpenAI": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 5,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "In-Memory Vector Store",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_embedding": [
                [
                  {
                    "json": {
                      "response": [
                        -0.022793637588620186,
                        -0.004342665430158377,
                        0.005918756127357483,
                        0.043579671531915665,
                        -0.006885833106935024,
                        0.03373752161860466,
                        0.004761936143040657,
                        0.0244952030479908,
                        -0.020773794502019882,
                        -0.014224600978195667,
                        0.02693125791847706,
                        0.024678826332092285,
                        -0.0163791012018919,
                        -0.041694484651088715,
                        -0.03327234461903572,
                        0.0012226179242134094,
                        -0.038683079183101654,
                        0.004719091113656759,
                        -0.07619097828865051,
                        -0.008819987066090107,
                        -0.041057929396629333,
                        0.020541206002235413,
                        -0.014420464634895325,
                        0.022940535098314285,
                        -0.054303210228681564,
                        -0.020614653825759888,
                        -0.011996651999652386,
                        0.00028040644247084856,
                        -0.0002517154498491436,
                        0.044044848531484604,
                        0.0181173924356699,
                        -0.04744797945022583,
                        -0.01576702855527401,
                        -0.030995430424809456,
                        0.0032072679605334997,
                        -0.020076029002666473,
                        0.016293412074446678,
                        -0.007124542258679867,
                        -0.014848916791379452,
                        -0.013257523998618126,
                        -0.04448554292321205,
                        -0.061256371438503265,
                        0.0016082245856523514,
                        0.02982024848461151,
                        0.02350364439189434,
                        0.01293924544006586,
                        -0.04022550582885742,
                        0.0022509023547172546,
                        -0.01617099717259407,
                        0.01159268245100975,
                        0.0027451522182673216,
                        -0.03672444447875023,
                        -0.006659365724772215,
                        0.05347079038619995,
                        -0.055870119482278824,
                        -0.0013465629890561104,
                        -0.004315122030675411,
                        0.0172482468187809,
                        0.021092072129249573,
                        -0.011978289112448692,
                        -0.0003293723566457629,
                        -0.019512921571731567,
                        0.00234730402007699,
                        -0.012706657871603966,
                        -0.003742832923308015,
                        0.022585533559322357,
                        0.03574512526392937,
                        0.020651379600167274,
                        0.030138526111841202,
                        0.02483796514570713,
                        -0.016905484721064568,
                        0.08098963648080826,
                        0.028032992035150528,
                        -0.02188776805996895,
                        0.004896592348814011,
                        0.0370916873216629,
                        -0.008789383806288242,
                        0.012620966881513596,
                        0.00413762079551816,
                        0.005924876779317856,
                        -0.0072285947389900684,
                        0.003311320673674345,
                        -0.035059601068496704,
                        0.020161719992756844,
                        0.012125187553465366,
                        -0.009774822741746902,
                        0.039515502750873566,
                        0.004664004314690828,
                        -0.050385937094688416,
                        0.02727402001619339,
                        -0.005701469723135233,
                        0.023209847509860992,
                        -0.01497133169323206,
                        -0.0015125880017876625,
                        0.010741899721324444,
                        -0.03133819252252579,
                        0.006019748281687498,
                        -0.0253643486648798,
                        -0.016587207093834877,
                        -0.012296567671000957,
                        -0.009719735942780972,
                        -0.05107146129012108,
                        0.006726693827658892,
                        0.04771729186177254,
                        -0.039172738790512085,
                        0.009780943393707275,
                        -0.012743381783366203,
                        -0.008819987066090107,
                        0.0027344408445060253,
                        -0.0460769347846508,
                        -0.05817151814699173,
                        -0.02055344730615616,
                        -0.03136267513036728,
                        0.0336151085793972,
                        -0.028791964054107666,
                        0.03731203451752663,
                        -0.006185008212924004,
                        -0.07065782696008682,
                        0.03657754510641098,
                        0.009933961555361748,
                        -0.049284204840660095,
                        0.0013572742464020848,
                        -0.03180336952209473,
                        0.04930868744850159,
                        0.014114427380263805,
                        -0.03496167063713074,
                        -0.017064625397324562,
                        -0.03736099973320961,
                        -0.03124026022851467,
                        -0.05895497277379036,
                        -0.0163791012018919,
                        0.024825723841786385,
                        -0.0008515480440109968,
                        -0.07222473621368408,
                        0.008930160664021969,
                        -0.02712712250649929,
                        -0.002888989634811878,
                        0.04977386072278023,
                        -0.042184144258499146,
                        -0.01560788881033659,
                        0.01570582017302513,
                        0.006530830170959234,
                        0.047056253999471664,
                        0.011990530416369438,
                        0.0008094679214991629,
                        0.017750147730112076,
                        0.0230384673923254,
                        -0.008666968904435635,
                        -0.02017396129667759,
                        -0.00043610276770778,
                        -0.04367760568857193,
                        0.03486374020576477,
                        0.022108115255832672,
                        0.05126732215285301,
                        0.03559822589159012,
                        -0.013135109096765518,
                        0.005670865997672081,
                        -0.011096903122961521,
                        0.00905869621783495,
                        0.008177309297025204,
                        -0.05190388113260269,
                        0.059346701949834824,
                        -0.012480190023779869,
                        -0.01060724351555109,
                        0.017236005514860153,
                        0.0336151085793972,
                        0.04703177139163017,
                        -0.04167000204324722,
                        -0.058563247323036194,
                        -0.066103994846344,
                        0.003748953575268388,
                        -0.028424719348549843,
                        -0.0157915111631155,
                        -0.04808453842997551,
                        -0.038095489144325256,
                        -0.02188776805996895,
                        -0.006500226445496082,
                        0.0037550744600594044,
                        0.04664004221558571,
                        -0.006861350033432245,
                        0.030873015522956848,
                        0.04779074341058731,
                        0.00241616228595376,
                        -0.06071774661540985,
                        -0.04808453842997551,
                        0.015008055604994297,
                        0.016942210495471954,
                        0.004563012160360813,
                        -0.01756652630865574,
                        0.0428941510617733,
                        -0.00818955060094595,
                        0.037434451282024384,
                        0.035084083676338196,
                        0.011849753558635712,
                        -0.012051737867295742,
                        -0.016746345907449722,
                        0.012363895773887634,
                        -0.03684685751795769,
                        0.08226275444030762,
                        -0.018643775954842567,
                        -0.011145868338644505,
                        -0.010919401422142982,
                        -0.052246641367673874,
                        -0.03410476818680763,
                        0.04837833344936371,
                        -0.02820437215268612,
                        -0.006561433896422386,
                        -0.001068834331817925,
                        0.03243992477655411,
                        0.02153276465833187,
                        0.07173507660627365,
                        0.04835385084152222,
                        0.006898074876517057,
                        0.020186202600598335,
                        -0.021153278648853302,
                        0.007797823753207922,
                        -0.05631081387400627,
                        -0.005970782600343227,
                        0.008238516747951508,
                        -0.042649321258068085,
                        -0.01167837344110012,
                        0.05141422152519226,
                        0.03219509497284889,
                        0.06835643202066422,
                        0.059052906930446625,
                        -0.032856136560440063,
                        -0.015424266457557678,
                        0.06370466947555542,
                        0.021141037344932556,
                        0.03434959799051285,
                        -0.026392633095383644,
                        0.003981541842222214,
                        0.03248888999223709,
                        -0.039172738790512085,
                        0.03104439564049244,
                        0.017027899622917175,
                        -0.0068368674255907536,
                        -0.0643412247300148,
                        -0.02136138454079628,
                        0.01489788293838501,
                        0.017284970730543137,
                        0.024654343724250793,
                        -0.01182527095079422,
                        0.03280717134475708,
                        -0.017542041838169098,
                        -0.04683590680360794,
                        0.03373752161860466,
                        -0.05484183505177498,
                        -0.051952846348285675,
                        0.011054057627916336,
                        0.04945558309555054,
                        -0.03373752161860466,
                        -0.023760715499520302,
                        0.017150314524769783,
                        -0.014371498487889767,
                        -0.020945174619555473,
                        0.0019356842385604978,
                        0.023087432608008385,
                        -0.01504478044807911,
                        -0.0038346440996974707,
                        0.007601959630846977,
                        0.002755863359197974,
                        -0.0362347848713398,
                        -0.01976999267935753,
                        0.010074739344418049,
                        -0.03400683403015137,
                        0.022732431069016457,
                        0.03185233473777771,
                        -0.018766190856695175,
                        -0.05596805363893509,
                        0.036185819655656815,
                        -0.02460537664592266,
                        -0.010215516202151775,
                        -0.01779911294579506,
                        -0.04477933794260025,
                        -0.021434834226965904,
                        -0.009444302879273891,
                        0.005028188228607178,
                        -0.03929515555500984,
                        0.016036340966820717,
                        -0.005918756127357483,
                        -0.007191870361566544,
                        -0.00047933051246218383,
                        -0.06008119136095047,
                        -0.00669609010219574,
                        0.07408544421195984,
                        -0.012057858519256115,
                        0.002013723598793149,
                        0.008354810997843742,
                        -0.06644675880670547,
                        0.013514595106244087,
                        -0.03452097624540329,
                        -0.015546681359410286,
                        0.054303210228681564,
                        0.0035071843303740025,
                        -0.021728629246354103,
                        0.04477933794260025,
                        -0.02600090578198433,
                        -0.018484637141227722,
                        0.0037244707345962524,
                        0.06341087073087692,
                        -0.004462020006030798,
                        0.002755863359197974,
                        -0.021287936717271805,
                        0.01932929828763008,
                        0.07790478318929672,
                        -0.03878101333975792,
                        0.034594424068927765,
                        0.02614780329167843,
                        -0.00206115934997797,
                        -0.048476263880729675,
                        -0.037605829536914825,
                        -0.03581857308745384,
                        -0.02788609452545643,
                        -0.002648750552907586,
                        0.007069455459713936,
                        0.008636364713311195,
                        -0.0006445904728025198,
                        -0.019806716591119766,
                        -0.010637846775352955,
                        0.05964049696922302,
                        -0.058122552931308746,
                        -0.006396173965185881,
                        0.03266027197241783,
                        0.06257845461368561,
                        -0.012718899175524712,
                        0.011011212132871151,
                        -0.02365054190158844,
                        0.011629407294094563,
                        -0.021483799442648888,
                        -0.02341795340180397,
                        -0.006286000367254019,
                        0.029281623661518097,
                        0.03234199434518814,
                        0.02918369136750698,
                        0.006316604092717171,
                        0.038095489144325256,
                        -0.009731977246701717,
                        0.03721410408616066,
                        0.023001743480563164,
                        -0.03718962147831917,
                        0.0005409204750321805,
                        -0.018827397376298904,
                        -0.04448554292321205,
                        -0.01276786532253027,
                        -0.00549336476251483,
                        -0.033345796167850494,
                        -0.03442304581403732,
                        0.0051750862039625645,
                        -0.016183238476514816,
                        -0.009615683928132057,
                        -0.007112300489097834,
                        0.014848916791379452,
                        -0.02280587889254093,
                        -0.02585400827229023,
                        0.05787772312760353,
                        0.04316346347332001,
                        0.010093101300299168,
                        -0.021324660629034042,
                        -0.012718899175524712,
                        -0.04568520933389664,
                        -0.011482509784400463,
                        0.014873399399220943,
                        0.01142130233347416,
                        -0.023050708696246147,
                        0.03251337260007858,
                        -0.05729013308882713,
                        0.03388442099094391,
                        0.02886541187763214,
                        -0.05317699536681175,
                        -0.004593615885823965,
                        -0.025756075978279114,
                        0.02017396129667759,
                        -0.016109788790345192,
                        -0.03204819932579994,
                        0.06287224590778351,
                        -0.011984409764409065,
                        0.018337739631533623,
                        0.06865022331476212,
                        0.020271893590688705,
                        0.03611236810684204,
                        -0.004700728692114353,
                        0.03057922050356865,
                        -0.03454545885324478,
                        -0.01395528856664896,
                        0.04886799305677414,
                        -0.012314929626882076,
                        -0.0253643486648798,
                        0.025951940566301346,
                        -0.03314993157982826,
                        -0.011586561799049377,
                        0.01024611946195364,
                        0.005260776728391647,
                        -0.004859867971390486,
                        -0.04776626080274582,
                        -0.014053220860660076,
                        0.03944205120205879,
                        0.04487726837396622,
                        -0.012296567671000957,
                        -0.031289227306842804,
                        -0.01044810377061367,
                        0.03469235822558403,
                        0.04022550582885742,
                        -0.02568262815475464,
                        -0.0031674832571297884,
                        0.01213130820542574,
                        0.014848916791379452,
                        0.0022049967665225267,
                        -0.03537788242101669,
                        -0.02176535315811634,
                        0.029281623661518097,
                        -0.03581857308745384,
                        -0.0000583861256018281,
                        -0.05611494928598404,
                        -0.00008109980990411714,
                        0.06512468308210373,
                        0.02225501276552677,
                        -0.03454545885324478,
                        0.022095873951911926,
                        0.08108757436275482,
                        -0.034276146441698074,
                        0.00220652692951262,
                        0.0079692043364048,
                        -0.019121194258332253,
                        0.0006996771553531289,
                        -0.014640811830759048,
                        0.042159661650657654,
                        0.03628375008702278,
                        0.08960764110088348,
                        -0.052589401602745056,
                        -0.05611494928598404,
                        -0.035892024636268616,
                        -0.020394308492541313,
                        0.04632176458835602,
                        -0.013563561253249645,
                        -0.0121007040143013,
                        0.003078732406720519,
                        0.0009724326664581895,
                        0.019953614100813866,
                        0.060619816184043884,
                        -0.019525162875652313,
                        0.012669933028519154,
                        0.060326021164655685,
                        -0.02489917352795601,
                        0.011611045338213444,
                        -0.02698022499680519,
                        0.01560788881033659,
                        -0.0005676986766047776,
                        0.031166810542345047,
                        0.05092456191778183,
                        0.007620322052389383,
                        -0.02602538838982582,
                        0.0008079377585090697,
                        0.004125379025936127,
                        -0.05366665497422218,
                        0.042673803865909576,
                        0.010270603001117706,
                        -0.027788162231445312,
                        0.018741708248853683,
                        0.02570711076259613,
                        -0.02106758952140808,
                        -0.07207784056663513,
                        0.018729466944932938,
                        0.013832873664796352,
                        -0.03290510177612305,
                        0.011886478401720524,
                        0.019108952954411507,
                        0.012088462710380554,
                        0.006371690891683102,
                        -0.02977128140628338,
                        0.019659819081425667,
                        0.041718967258930206,
                        0.04742349684238434,
                        0.030383355915546417,
                        0.006702210754156113,
                        -0.03520650044083595,
                        0.013575802557170391,
                        -0.006209491286426783,
                        -0.02417692542076111,
                        -0.026417115703225136,
                        0.00334804505109787,
                        -0.005092456005513668,
                        0.025021588429808617,
                        0.019610852003097534,
                        -0.003782617626711726,
                        -0.00717962859198451,
                        -0.0031674832571297884,
                        -0.06272535026073456,
                        -0.02854713425040245,
                        0.07007023692131042,
                        -0.021863285452127457,
                        0.06252948939800262,
                        -0.03297854959964752,
                        -0.012051737867295742,
                        0.018766190856695175,
                        -0.05219767615199089,
                        0.01182527095079422,
                        0.005655564367771149,
                        0.025290900841355324,
                        0.011923202313482761,
                        -0.02617228589951992,
                        0.01597513258457184,
                        0.03344372659921646,
                        -0.027641264721751213,
                        0.02886541187763214,
                        0.04370208829641342,
                        -0.01372270006686449,
                        0.028791964054107666,
                        0.016991175711154938,
                        0.044558990746736526,
                        0.033345796167850494,
                        -0.01956188678741455,
                        -0.011145868338644505,
                        -0.005750435870140791,
                        0.0034765806049108505,
                        -0.0169544517993927,
                        0.013220800086855888,
                        0.04779074341058731,
                        -0.02646608278155327,
                        0.04362864047288895,
                        -0.012669933028519154,
                        0.022095873951911926,
                        0.02414020150899887,
                        0.03124026022851467,
                        -0.005878971423953772,
                        -0.007112300489097834,
                        0.02089620754122734,
                        -0.02840023674070835,
                        0.019353780895471573,
                        -0.023454677313566208,
                        -0.0135513199493289,
                        -0.0028277821838855743,
                        0.01124380063265562,
                        0.018766190856695175,
                        0.021079830825328827,
                        -0.012657691724598408,
                        -0.009554476477205753,
                        0.009554476477205753,
                        0.024127960205078125,
                        0.00040626415284350514,
                        0.02840023674070835,
                        0.03687134012579918,
                        0.012975970283150673,
                        0.012327171862125397,
                        -0.020528964698314667,
                        -0.013367697596549988,
                        -0.006561433896422386,
                        0.01692996919155121,
                        -0.03329682722687721,
                        0.029085759073495865,
                        0.028767481446266174,
                        0.01126216258853674,
                        0.0031980869825929403,
                        0.00818955060094595,
                        0.006879712454974651,
                        0.005159784108400345,
                        0.028424719348549843,
                        0.0006162820500321686,
                        -0.0031047456432133913,
                        -0.012492431327700615,
                        0.01552219782024622,
                        -0.01733393780887127,
                        -0.001347328070551157,
                        0.02678436040878296,
                        -0.003286837600171566,
                        0.005572934169322252,
                        0.017835838720202446,
                        0.003155241720378399,
                        0.008844470605254173,
                        0.015926167368888855,
                        0.034447528421878815,
                        -0.026612980291247368,
                        0.01941498927772045,
                        -0.016354618594050407,
                        -0.0049027130007743835,
                        0.018876364454627037,
                        0.04252690449357033,
                        0.012265964411199093,
                        -0.023626059293746948,
                        -0.030163010582327843,
                        0.014481672085821629,
                        -0.008538433350622654,
                        0.043579671531915665,
                        0.007100059185177088,
                        -0.02466658502817154,
                        0.05954256281256676,
                        0.015730302780866623,
                        -0.023785198107361794,
                        -0.015179436653852463,
                        0.0030114043038338423,
                        0.006233974359929562,
                        0.0021575610153377056,
                        -0.0002828929864335805,
                        0.025658143684267998,
                        0.0019923010841012,
                        0.01167837344110012,
                        0.03322337940335274,
                        -0.030799565836787224,
                        -0.028620583936572075,
                        0.031142327934503555,
                        -0.04575865715742111,
                        0.005683107767254114,
                        -0.013967529870569706,
                        0.011286646127700806,
                        0.033957868814468384,
                        0.0020642196759581566,
                        -0.03199923038482666,
                        -0.046419695019721985,
                        -0.03958895057439804,
                        -0.01027672365307808,
                        -0.02411571703851223,
                        -0.005903454497456551,
                        0.021263452246785164,
                        -0.02617228589951992,
                        -0.010111463256180286,
                        -0.02301398478448391,
                        -0.027984026819467545,
                        0.004168224520981312,
                        0.004792539868503809,
                        0.07163714617490768,
                        -0.004134560469537973,
                        0.00867921020835638,
                        0.002299868268892169,
                        0.025633661076426506,
                        0.035059601068496704,
                        0.0042416732758283615,
                        -0.0039019722025841475,
                        -0.0159384086728096,
                        0.033664073795080185,
                        0.03400683403015137,
                        0.05048386752605438,
                        -0.016330135986208916,
                        -0.0011323370272293687,
                        0.00725919846445322,
                        0.01083983201533556,
                        -0.00036131497472524643,
                        0.019206883385777473,
                        0.03295406699180603,
                        0.013526836410164833,
                        -0.02791057713329792,
                        0.014934606850147247,
                        0.024593135342001915,
                        -0.002215708140283823,
                        0.046272799372673035,
                        0.016305653378367424,
                        -0.007571355905383825,
                        -0.016991175711154938,
                        0.005597417242825031,
                        -0.010699054226279259,
                        0.02693125791847706,
                        0.014395982027053833,
                        -0.014310291968286037,
                        -0.023148640990257263,
                        0.03422718122601509,
                        0.03329682722687721,
                        -0.0469583235681057,
                        0.024005545303225517,
                        0.012296567671000957,
                        -0.04504865035414696,
                        -0.018362222239375114,
                        0.009725856594741344,
                        -0.036014437675476074,
                        -0.024189166724681854,
                        0.0042722770012915134,
                        0.007344888523221016,
                        0.00654919259250164,
                        0.007816186174750328,
                        0.012290447019040585,
                        0.03153405711054802,
                        -0.003179724793881178,
                        -0.034594424068927765,
                        0.019867923110723495,
                        0.010962245985865593,
                        0.03545133024454117,
                        0.024385031312704086,
                        -0.015203919261693954,
                        -0.003905032528564334,
                        -0.023723989725112915,
                        -0.007106179837137461,
                        -0.016134271398186684,
                        0.021287936717271805,
                        0.017113590613007545,
                        -0.02074931003153324,
                        -0.046762458980083466,
                        0.03953998535871506,
                        -0.012657691724598408,
                        0.011996651999652386,
                        -0.01985568180680275,
                        0.0031889057718217373,
                        -0.008440501056611538,
                        0.0009318827651441097,
                        -0.00010673041106201708,
                        0.019867923110723495,
                        0.01790928654372692,
                        0.006062593776732683,
                        -0.023173123598098755,
                        -0.010301206260919571,
                        -0.00270689744502306,
                        0.005970782600343227,
                        -0.03990722820162773,
                        0.004419174510985613,
                        -0.03180336952209473,
                        -0.016109788790345192,
                        -0.023785198107361794,
                        0.008973006159067154,
                        -0.0189865380525589,
                        -0.0007065630052238703,
                        -0.003442916553467512,
                        0.023405712097883224,
                        -0.025805043056607246,
                        0.014861158095300198,
                        -0.00020389717246871442,
                        -0.008832228370010853,
                        0.0033755884505808353,
                        -0.030677152797579765,
                        -0.026417115703225136,
                        0.020847242325544357,
                        0.02950196899473667,
                        -0.01625668630003929,
                        0.005967722274363041,
                        0.014138910919427872,
                        -0.00697764428332448,
                        -0.016354618594050407,
                        -0.00256152986548841,
                        0.0049027130007743835,
                        0.00768765015527606,
                        -0.014298049733042717,
                        0.00966464914381504,
                        -0.048794545233249664,
                        -0.010356293059885502,
                        0.018766190856695175,
                        -0.03958895057439804,
                        -0.001116270083002746,
                        -0.036626510322093964,
                        0.020149478688836098,
                        -0.006001386325806379,
                        -0.0055056060664355755,
                        0.03721410408616066,
                        0.006038110703229904,
                        0.008061015047132969,
                        0.001643418800085783,
                        0.015571163967251778,
                        -0.026710912585258484,
                        -0.022242771461606026,
                        0.03283165395259857,
                        0.039809297770261765,
                        -0.0033908903133124113,
                        0.022536566480994225,
                        -0.01776238903403282,
                        0.014249084517359734,
                        -0.004400812555104494,
                        0.008562915958464146,
                        -0.0414496548473835,
                        -0.02805747464299202,
                        0.013685976155102253,
                        -0.00037049606908112764,
                        0.017615491524338722,
                        0.018974296748638153,
                        0.00113922287710011,
                        -0.0005501015693880618,
                        -0.007907996885478497,
                        0.005875911097973585,
                        0.024446237832307816,
                        0.013526836410164833,
                        -0.008238516747951508,
                        0.02286708727478981,
                        -0.02933058887720108,
                        0.011843632906675339,
                        -0.02445847913622856,
                        -0.00484762666746974,
                        0.006068714428693056,
                        -0.0035071843303740025,
                        -0.004146801773458719,
                        0.03011404350399971,
                        -0.025609178468585014,
                        0.03045680560171604,
                        0.00013561265950556844,
                        -0.024470720440149307,
                        0.011329490691423416,
                        -0.0022432515397667885,
                        -0.010148188099265099,
                        -0.018154116347432137,
                        0.026759877800941467,
                        0.0013572742464020848,
                        -0.04570969194173813,
                        -0.027690229937434196,
                        0.01767669804394245,
                        0.01661168970167637,
                        -0.0024482961744070053,
                        0.00306190038099885,
                        -0.03290510177612305,
                        -0.03229302912950516,
                        0.004853747319430113,
                        0.01426132582128048,
                        0.010588881559669971,
                        -0.007026610430330038,
                        0.027396434918045998,
                        -0.08294827491044998,
                        -0.021153278648853302,
                        0.03692030906677246,
                        0.035696160048246384,
                        -0.0658102035522461,
                        -0.010509311221539974,
                        0.0233322624117136,
                        -0.0020427971612662077,
                        0.0250705536454916,
                        -0.039050325751304626,
                        0.008146706037223339,
                        -0.003859126940369606,
                        -0.022965019568800926,
                        -0.03197474777698517,
                        0.017946012318134308,
                        0.008740417659282684,
                        0.017199281603097916,
                        0.006166646257042885,
                        -0.02475227415561676,
                        0.009982927702367306,
                        -0.038389284163713455,
                        0.010344051755964756,
                        -0.02744540013372898,
                        0.024397272616624832,
                        -0.01890084706246853,
                        0.004660943988710642,
                        -0.006059532985091209,
                        -0.014089944772422314,
                        -0.012657691724598408,
                        0.03527994826436043,
                        0.0012096113059669733,
                        0.00356533145532012,
                        0.00392033439129591,
                        0.02898782677948475,
                        0.005808582995086908,
                        -0.018337739631533623,
                        -0.023442436009645462,
                        0.04113137722015381,
                        -0.03229302912950516,
                        -0.009878875687718391,
                        0.010803107172250748,
                        -0.02619677037000656,
                        0.032415442168712616,
                        -0.044363126158714294,
                        0.004015205893665552,
                        0.00541379489004612,
                        -0.00327153573743999,
                        -0.025144001469016075,
                        -0.023283297196030617,
                        0.012070100754499435,
                        -0.0028461443725973368,
                        0.02341795340180397,
                        0.020541206002235413,
                        -0.018594810739159584,
                        -0.0003062282921746373,
                        -0.006258457433432341,
                        -0.026098838075995445,
                        -0.052736300975084305,
                        0.036626510322093964,
                        -0.014567363075911999,
                        0.03278268501162529,
                        0.030040595680475235,
                        -0.030946465209126472,
                        -0.01686876080930233,
                        -0.019904648885130882,
                        0.025266416370868683,
                        -0.009266801178455353,
                        -0.0542052797973156,
                        0.036528579890728,
                        0.007638684473931789,
                        -0.02403002791106701,
                        -0.009487148374319077,
                        0.026686428114771843,
                        0.021777594462037086,
                        -0.006132982205599546,
                        0.006604278925806284,
                        0.01655048318207264,
                        0.0324644073843956,
                        -0.01233329251408577,
                        -0.041376207023859024,
                        0.025805043056607246,
                        0.03199923038482666,
                        -0.029232656583189964,
                        -0.024336064234375954,
                        0.015338576398789883,
                        -0.006169706583023071,
                        0.012094583362340927,
                        -0.002687005093321204,
                        0.032880619168281555,
                        -0.054156314581632614,
                        0.008036532439291477,
                        0.01718704029917717,
                        -0.0017551223281770945,
                        -0.005878971423953772,
                        0.034300629049539566,
                        0.03469235822558403,
                        0.03371303901076317,
                        0.025756075978279114,
                        -0.02150828205049038,
                        0.02388313040137291,
                        -0.019427230581641197,
                        -0.011966047808527946,
                        -0.06248052045702934,
                        -0.008128343150019646,
                        -0.03307648375630379,
                        0.013502353802323341,
                        -0.00023890016018413007,
                        -0.004563012160360813,
                        -0.03329682722687721,
                        0.02373623289167881,
                        0.0006507112411782146,
                        -0.04514658451080322,
                        0.018068425357341766,
                        0.05239354074001312,
                        0.014995814301073551,
                        0.038707561790943146,
                        0.01828877255320549,
                        0.05058180168271065,
                        0.05626184865832329,
                        -0.01095612533390522,
                        -0.01091328077018261,
                        0.025486763566732407,
                        -0.03329682722687721,
                        0.029673350974917412,
                        0.014236842282116413,
                        0.02371174842119217,
                        -0.008764900267124176,
                        -0.0020351463463157415,
                        -0.017456352710723877,
                        -0.019757751375436783,
                        0.023552609607577324,
                        -0.006769539322704077,
                        -0.005725952796638012,
                        -0.009615683928132057,
                        0.002454417059198022,
                        -0.025119518861174583,
                        -0.0244952030479908,
                        0.0036326595582067966,
                        -0.0060228086076676846,
                        0.03133819252252579,
                        -0.005802461877465248,
                        -0.002691595582291484,
                        -0.03312544897198677,
                        0.011837512254714966,
                        0.00878326315432787,
                        0.005882031749933958,
                        -0.029085759073495865,
                        -0.00038885828689672053,
                        -0.0013679855037480593,
                        0.013343214057385921,
                        0.014787709340453148,
                        0.009419819340109825,
                        -0.017664456740021706,
                        0.015130470506846905,
                        -0.04791315644979477,
                        0.010123704560101032,
                        0.010362413711845875,
                        -0.010564398020505905,
                        -0.008140585385262966,
                        0.025462280958890915,
                        0.025144001469016075,
                        -0.011727338656783104,
                        -0.010772503912448883,
                        -0.023577092215418816,
                        0.001998421736061573,
                        -0.002400860423222184,
                        -0.0017994977533817291,
                        0.04083758220076561,
                        -0.021410349756479263,
                        -0.0026992466300725937,
                        0.007308164145797491,
                        0.007167387288063765,
                        0.02295277640223503,
                        -0.03750789910554886,
                        0.009266801178455353,
                        0.004333484452217817,
                        -0.024531928822398186,
                        -0.03136267513036728,
                        -0.007510148920118809,
                        0.03486374020576477,
                        -0.017309455201029778,
                        -0.01597513258457184,
                        -0.014506155624985695,
                        0.03442304581403732,
                        0.044412095099687576,
                        0.01909670978784561,
                        -0.010270603001117706,
                        0.03231751173734665,
                        0.028914378955960274,
                        -0.012792347930371761,
                        0.013685976155102253,
                        0.03907480835914612,
                        -0.017064625397324562,
                        -0.0005260011530481279,
                        -0.012620966881513596,
                        -0.04585658758878708,
                        -0.028963344171643257,
                        0.001990770921111107,
                        -0.021349143236875534,
                        0.03182785212993622,
                        0.037752728909254074,
                        -0.0025569393765181303,
                        -0.020161719992756844,
                        0.023981060832738876,
                        -0.022426392883062363,
                        -0.009064816869795322,
                        -0.004593615885823965,
                        -0.01599961519241333,
                        -0.007871272042393684,
                        0.029134726151823997,
                        -0.03466787561774254,
                        -0.006769539322704077,
                        0.0006449730135500431,
                        -0.0008584338938817382,
                        0.0252174511551857,
                        0.013490112498402596,
                        0.005214870907366276,
                        -0.011103023774921894,
                        -0.0171013493090868,
                        0.0064328983426094055,
                        -0.021055348217487335,
                        -0.02982024848461151,
                        -0.004829264245927334,
                        0.011047936975955963,
                        0.042184144258499146,
                        -0.017003417015075684,
                        0.015497715212404728,
                        -0.009640166535973549,
                        -0.002091763075441122,
                        -0.00019414223788771778,
                        0.01776238903403282,
                        0.018215324729681015,
                        0.024470720440149307,
                        -0.014530638232827187,
                        0.0001638254470890388,
                        -0.00047206212184391916,
                        0.013441146351397038,
                        -0.037899624556303024,
                        0.013037177734076977,
                        -0.025829525664448738,
                        0.003008343977853656,
                        0.012975970283150673,
                        0.03814445436000824,
                        0.004529348108917475,
                        -0.010601122863590717,
                        -0.017578767612576485,
                        0.021557249128818512,
                        -0.008140585385262966,
                        -0.028791964054107666,
                        0.01947619579732418,
                        0.0055790552869439125,
                        0.024764517322182655,
                        0.022267254069447517,
                        -0.01672186329960823,
                        0.010252240113914013,
                        -0.002059629186987877,
                        0.011874237097799778,
                        0.004327363800257444,
                        0.00918723177164793,
                        -0.016819795593619347,
                        -0.029550936073064804,
                        0.0356471948325634,
                        -0.02153276465833187,
                        0.019512921571731567,
                        0.025609178468585014,
                        0.0016709621995687485,
                        -0.005490304436534643,
                        0.002639569342136383,
                        -0.006426777690649033,
                        -0.06066878139972687,
                        -0.05596805363893509,
                        -0.025168485939502716,
                        0.012106824666261673,
                        -0.014763226732611656,
                        -0.024336064234375954,
                        -0.022977260872721672,
                        0.002529395977035165,
                        0.010050255805253983,
                        0.04835385084152222,
                        0.020798277109861374,
                        -0.0017107470193877816,
                        0.014922365546226501,
                        0.0356471948325634,
                        0.03848721832036972,
                        0.0012356245424598455,
                        0.004884351044893265,
                        0.0029379555489867926,
                        -0.04710521921515465,
                        -0.020541206002235413,
                        -0.01854584366083145,
                        -0.010441983118653297,
                        0.02301398478448391,
                        0.012878037989139557,
                        0.008875073865056038,
                        -0.033345796167850494,
                        0.012951486743986607,
                        -0.007381613366305828,
                        0.001906610676087439,
                        -0.008464984595775604,
                        -0.000009719066838442814,
                        0.0008155886898748577,
                        -0.003372528124600649,
                        -0.03371303901076317,
                        -0.011672251857817173,
                        0.003513305215165019,
                        0.008917919360101223,
                        0.026515047997236252,
                        0.011966047808527946,
                        0.01799497753381729,
                        0.006916436832398176,
                        0.0064390189945697784,
                        -0.013624768704175949,
                        -0.041204825043678284,
                        0.008079377934336662,
                        0.03976033255457878,
                        -0.02382192201912403,
                        -0.0044283559545874596,
                        0.0495535172522068,
                        0.034472011029720306,
                        -0.025633661076426506,
                        0.02280587889254093,
                        0.0017857260536402464,
                        0.007473424077033997,
                        -0.009279042482376099,
                        0.004801720846444368,
                        -0.00982378888875246,
                        0.023528126999735832,
                        0.0018683560192584991,
                        0.010998970828950405,
                        -0.01004413515329361,
                        -0.0018790673930197954,
                        -0.002159091178327799,
                        -0.0040488699451088905,
                        -0.010625605471432209,
                        0.017713423818349838,
                        0.01466529443860054,
                        0.06855229288339615,
                        0.027812644839286804,
                        -0.04071516543626785,
                        -0.03655306249856949,
                        -0.005046550650149584,
                        0.0255112461745739,
                        0.005615779664367437,
                        0.031778886914253235,
                        0.00518732750788331,
                        -0.03243992477655411,
                        -0.0015003465814515948,
                        0.013428905047476292,
                        -0.0327582024037838,
                        -0.021116554737091064,
                        0.08069584518671036,
                        0.022303977981209755,
                        0.007852910086512566,
                        -0.0033755884505808353,
                        -0.00048047813470475376,
                        0.016734104603528976,
                        -0.00852007046341896,
                        0.021165521815419197,
                        -0.036675479263067245,
                        -0.026564015075564384,
                        -0.014285808429121971,
                        0.01808066852390766,
                        -0.0079692043364048,
                        -0.0024437056854367256,
                        0.011396818794310093,
                        0.002726790029555559,
                        -0.003504124004393816,
                        0.031289227306842804,
                        -0.003265415085479617,
                        -0.03312544897198677,
                        -0.03518201783299446,
                        0.009217835031449795,
                        0.02087172493338585,
                        -0.005878971423953772,
                        0.0009051045053638518,
                        -0.010142067447304726,
                        0.0042722770012915134,
                        -0.0021208366379141808,
                        0.045342445373535156,
                        0.011929322965443134,
                        0.015154954046010971,
                        0.010515432804822922,
                        0.024715550243854523,
                        0.03359062597155571,
                        0.007693770807236433,
                        0.010741899721324444,
                        0.004067231900990009,
                        -0.000607866037171334,
                        0.0015715000918135047,
                        -0.003009874140843749,
                        0.0006289060693234205,
                        -0.02553573064506054,
                        0.02072482742369175,
                        -0.005089395679533482,
                        0.0026349788531661034,
                        -0.017982736229896545,
                        -0.01433477457612753,
                        -0.03212164714932442,
                        0.005637201946228743,
                        -0.009597321040928364,
                        -0.009438182227313519,
                        -0.009132144972682,
                        0.007877392694354057,
                        0.007510148920118809,
                        -0.021716387942433357,
                        -0.0039019722025841475,
                        0.017003417015075684,
                        0.036185819655656815,
                        0.03075060062110424,
                        -0.022132597863674164,
                        -0.02411571703851223,
                        0.016122030094265938,
                        -0.023136399686336517,
                        -0.004107017070055008,
                        -0.027322985231876373,
                        -0.010295085608959198,
                        0.005159784108400345,
                        -0.014530638232827187,
                        -0.0166606567800045,
                        0.054499074816703796,
                        0.03733651712536812,
                        -0.034594424068927765,
                        -0.014861158095300198,
                        -0.021606214344501495,
                        0.004850686993449926,
                        -0.0059401788748800755,
                        0.0028032991103827953,
                        0.00138940813485533,
                        -0.008556795306503773,
                        0.05121835693717003,
                        -0.043432775884866714,
                        0.009805426001548767,
                        0.022597774863243103,
                        0.00241616228595376,
                        -0.0495535172522068,
                        -0.014959090389311314,
                        -0.01091328077018261,
                        0.013441146351397038,
                        -0.0064390189945697784,
                        -0.0024284038227051497,
                        0.004382450133562088,
                        -0.027322985231876373,
                        0.034129250794649124,
                        -0.01741962693631649,
                        -0.002198876114562154,
                        0.008207913488149643,
                        -0.030848532915115356,
                        -0.024801241233944893,
                        -0.02324657328426838,
                        0.027665747329592705,
                        -0.022108115255832672,
                        0.0017994977533817291,
                        -0.01892532967031002,
                        0.02930610626935959,
                        -0.0034704599529504776,
                        0.025756075978279114,
                        -0.020369824022054672,
                        0.018337739631533623,
                        -0.04213517904281616,
                        0.01308614294975996,
                        -0.010227757506072521,
                        -0.003797919489443302,
                        0.020418791100382805,
                        -0.008305844850838184,
                        0.0006162820500321686,
                        -0.021520523354411125,
                        -0.00862412340939045,
                        -0.02617228589951992,
                        -0.0030389477033168077,
                        -0.013698217459022999,
                        -0.011194834485650063,
                        0.004688487388193607,
                        -0.007136783562600613,
                        -0.006136042531579733,
                        -0.027714712545275688,
                        0.0006262282840907574,
                        -0.0068674711510539055,
                        0.003071081591770053,
                        0.05435217544436455,
                        -0.007216352969408035,
                        0.01276786532253027,
                        0.02307519130408764,
                        -0.007136783562600613,
                        0.01075414102524519,
                        0.023466918617486954,
                        0.00040664669359102845,
                        0.04127827286720276,
                        -0.02339347079396248,
                        0.027347469702363014,
                        0.02327105589210987,
                        -0.027371952310204506,
                        0.031117845326662064,
                        0.022879328578710556,
                        -0.013135109096765518,
                        -0.019292574375867844,
                        -0.02199794165790081,
                        -0.013637010008096695,
                        -0.02617228589951992,
                        -0.009181111119687557,
                        -0.0075591146014630795,
                        0.0028828687500208616,
                        -0.033003032207489014,
                        -0.004887411370873451,
                        0.03598995506763458,
                        -0.0038101610261946917,
                        0.01924360916018486,
                        -0.00048277340829372406,
                        -0.01657496578991413,
                        -0.0178235974162817,
                        0.019133435562253,
                        -0.00862412340939045,
                        -0.01202725525945425,
                        0.004893532022833824,
                        0.041204825043678284,
                        0.021838802844285965,
                        -0.0031980869825929403,
                        0.006665486376732588,
                        0.018252048641443253,
                        0.018019460141658783,
                        -0.0020580990239977837,
                        0.02019844390451908,
                        -0.04125379025936127,
                        0.00005561266516451724,
                        0.007448941469192505,
                        0.01466529443860054,
                        -0.019696542993187904,
                        -0.007859030738472939,
                        0.002276915591210127,
                        -0.020847242325544357,
                        0.02136138454079628,
                        -0.01883963868021965,
                        -0.0244952030479908,
                        0.01488564070314169,
                        -0.0008523131255060434,
                        -0.027371952310204506,
                        0.017407385632395744,
                        0.0004609682655427605,
                        -0.022989502176642418,
                        0.028596099466085434,
                        -0.010344051755964756,
                        0.008728176355361938,
                        0.0036173576954752207,
                        -0.02964886836707592,
                        0.0003534727729856968,
                        0.016109788790345192,
                        -0.004018266219645739,
                        -0.0007895755115896463,
                        -0.0028583859093487263,
                        0.018484637141227722,
                        -0.003387829987332225,
                        0.011213196441531181,
                        0.0035592105705291033,
                        -0.00017367601685691625,
                        -0.039956193417310715,
                        0.01748083531856537,
                        0.05141422152519226,
                        0.0017964373109862208,
                        -0.015901684761047363,
                        -0.004045809619128704,
                        -0.010656209662556648,
                        -0.01417563483119011,
                        0.008599640801548958,
                        0.03669996187090874,
                        0.07026610523462296,
                        0.017750147730112076,
                        0.02312415838241577,
                        0.0028981706127524376,
                        0.03106888011097908,
                        -0.012106824666261673,
                        -0.0249236561357975,
                        0.009174990467727184,
                        0.0026655825786292553,
                        0.036797892302274704,
                        -0.015546681359410286,
                        -0.0001803705672500655,
                        -0.0004131500027142465,
                        0.019341539591550827,
                        -0.027176087722182274,
                        -0.0006706036510877311,
                        -0.0012011952931061387,
                        -0.0012142019113525748,
                        0.002440645359456539,
                        -0.0035010636784136295,
                        -0.007693770807236433,
                        0.032219577580690384,
                        -0.012743381783366203,
                        -0.0011024983832612634,
                        -0.008538433350622654,
                        -0.05229560658335686,
                        0.012161911465227604,
                        -0.017027899622917175,
                        0.008715935051441193,
                        0.01614651456475258,
                        0.024078993126749992,
                        -0.008109981194138527,
                        0.018766190856695175,
                        0.008813866414129734,
                        0.017223764210939407,
                        0.027249537408351898,
                        0.013612527400255203,
                        0.00012767482257913798,
                        -0.012829071842133999,
                        -0.010062497109174728,
                        -0.019929131492972374,
                        -0.017517559230327606,
                        0.0005252360715530813,
                        -0.04372657090425491,
                        0.01921912468969822,
                        0.0010703644948080182,
                        -0.02852265164256096,
                        0.006971523631364107,
                        -0.03799755871295929,
                        0.009321887977421284,
                        0.035084083676338196,
                        0.0007448176038451493,
                        -0.00006393304647644982,
                        0.017774630337953568,
                        0.016183238476514816,
                        -0.00018553495465312153,
                        0.04715418443083763,
                        -0.03266027197241783,
                        -0.005165905226022005,
                        0.0015715000918135047,
                        0.029355071485042572,
                        0.01451839692890644,
                        0.02046775631606579,
                        -0.01481219194829464,
                        0.005823884624987841,
                        0.033321313560009,
                        -0.03567167744040489,
                        -0.013734942302107811,
                        0.003889730665832758,
                        -0.011715097352862358,
                        0.014787709340453148,
                        -0.005790220573544502,
                        -0.05366665497422218,
                        -0.0014299580361694098,
                        0.020002581179142,
                        0.024642102420330048,
                        -0.01748083531856537,
                        -0.001412360928952694,
                        -0.004012145567685366,
                        0.009946203790605068,
                        -0.0012799998512491584,
                        0.027788162231445312,
                        0.023283297196030617,
                        -0.0055545722134411335,
                        -0.01284131407737732,
                        0.002748212544247508,
                        0.014383740723133087,
                        0.009707494638860226,
                        0.0047956001944839954,
                        0.014040978625416756,
                        -0.0005791750736534595,
                        0.00042080090497620404,
                        0.02538883127272129,
                        -0.007002127356827259,
                        -0.0611584410071373,
                        -0.018154116347432137,
                        -0.015020297840237617,
                        -0.01053379476070404,
                        -0.01930481567978859,
                        -0.02057792991399765,
                        0.006500226445496082,
                        -0.005165905226022005,
                        -0.033370278775691986,
                        0.017407385632395744,
                        0.01082758978009224,
                        0.023626059293746948,
                        0.03545133024454117,
                        0.007363250944763422,
                        -0.00030488939955830574,
                        0.02964886836707592,
                        -0.01748083531856537,
                        0.03716513514518738,
                        -0.0007230124901980162,
                        0.00029303046176210046,
                        0.010588881559669971,
                        0.02884092926979065,
                        -0.023283297196030617,
                        0.017199281603097916,
                        -0.021398108452558517,
                        -0.0018545844359323382,
                        0.002292217453941703,
                        0.026686428114771843,
                        -0.008526192046701908,
                        -0.0036234783474355936,
                        -0.005208750255405903,
                        -0.04340829327702522,
                        -0.01614651456475258,
                        0.0009785534348338842,
                        -0.0038713684771209955,
                        -0.017639974132180214,
                        0.03726306930184364,
                        -0.04142517223954201,
                        -0.024091234430670738,
                        -0.02153276465833187,
                        -0.010441983118653297,
                        0.027518849819898605,
                        -0.005600477568805218,
                        0.032415442168712616,
                        0.0015615539159625769,
                        -0.023834163323044777,
                        -0.0008431320311501622,
                        0.023381229490041733,
                        -0.02884092926979065,
                        0.009132144972682,
                        0.018619293347001076,
                        0.037752728909254074,
                        0.01576702855527401,
                        -0.017811354249715805,
                        -0.011335611343383789,
                        -0.04730108380317688,
                        0.016966693103313446,
                        -0.045195549726486206,
                        -0.014347015880048275,
                        -0.0005290615372359753,
                        -0.010833710432052612,
                        -0.009701373986899853,
                        0.0029961024411022663,
                        0.013355456292629242,
                        0.012914762832224369,
                        0.0405682697892189,
                        0.001960167195647955,
                        -0.01213130820542574,
                        -0.03280717134475708,
                        0.02257329225540161,
                        0.006947040557861328,
                        0.0019571068696677685,
                        -0.017529800534248352,
                        -0.0048445663414895535,
                        -0.04257587343454361,
                        -0.011874237097799778,
                        0.024397272616624832,
                        -0.028302304446697235,
                        0.003195026656612754,
                        -0.014787709340453148,
                        0.0020351463463157415,
                        0.0033970109652727842
                      ]
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_embedding": [
                [
                  {
                    "json": {
                      "query": "What happened on October 18, 2023?"
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "Embeddings OpenAI",
                  "runIndex": 0
                }
              ]
            }
          }
        ],
        "OpenAI Chat Model1": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 6,
            "executionStatus": "error",
            "source": [
              {
                "previousNode": "Vector Store Tool",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Use the following pieces of context to answer the users question. \nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n\nHuman: What happened on October 18, 2023?"
                      ],
                      "estimatedTokens": 52,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini123",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "System: Use the following pieces of context to answer the users question. \nIf you don't know the answer, just say that you don't know, don't try to make up an answer.\n----------------\n\nHuman: What happened on October 18, 2023?"
                      ],
                      "estimatedTokens": 52,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini123",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model1",
                  "runIndex": 0
                }
              ]
            },
            "error": {
              "message": "The resource you are requesting could not be found",
              "timestamp": 1752843131830,
              "name": "NodeApiError",
              "description": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
              "context": {}
            }
          }
        ],
        "AI Agent": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "When clicking ‘Test workflow’"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "output": "I don’t have information on the events that occurred yesterday. Is there something specific you are interested in learning about?"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "AI Agent"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "OpenAI Chat Model": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model",
                "runIndex": 0
              }
            ]
          },
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model",
                "runIndex": 1
              }
            ]
          }
        ],
        "Embeddings OpenAI": [
          {
            "subRun": [
              {
                "node": "Embeddings OpenAI",
                "runIndex": 0
              }
            ]
          }
        ],
        "In-Memory Vector Store": [
          {
            "subRun": [
              {
                "node": "In-Memory Vector Store",
                "runIndex": 0
              }
            ]
          }
        ],
        "OpenAI Chat Model1": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model1",
                "runIndex": 0
              }
            ]
          }
        ],
        "Vector Store Tool": [
          {
            "subRun": [
              {
                "node": "Vector Store Tool",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}