packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-37-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24497029,
                      "description": null,
                      "name": "nodemationQA",
                      "name_with_namespace": "nodeqa / nodemationQA",
                      "path": "nodemationqa",
                      "path_with_namespace": "nodeqa/nodemationqa",
                      "created_at": "2021-02-18T08:25:21.075Z",
                      "default_branch": "master",
                      "tag_list": [],
                      "topics": "DYNAMIC",
                      "ssh_url_to_repo": "git@gitlab.com:nodeqa/nodemationqa.git",
                      "http_url_to_repo": "https://gitlab.com/nodeqa/nodemationqa.git",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa",
                      "readme_url": "https://gitlab.com/nodeqa/nodemationqa/-/blob/master/README.md",
                      "forks_count": 0,
                      "avatar_url": null,
                      "star_count": 0,
                      "last_activity_at": "2025-07-18T12:06:39.497Z",
                      "visibility": "private",
                      "namespace": {
                        "id": 11020547,
                        "name": "nodeqa",
                        "path": "nodeqa",
                        "kind": "group",
                        "full_path": "nodeqa",
                        "parent_id": null,
                        "avatar_url": null,
                        "web_url": "https://gitlab.com/groups/nodeqa"
                      },
                      "container_registry_image_prefix": "registry.gitlab.com/nodeqa/nodemationqa",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029",
                        "issues": "https://gitlab.com/api/v4/projects/24497029/issues",
                        "merge_requests": "https://gitlab.com/api/v4/projects/24497029/merge_requests",
                        "repo_branches": "https://gitlab.com/api/v4/projects/24497029/repository/branches",
                        "labels": "https://gitlab.com/api/v4/projects/24497029/labels",
                        "events": "https://gitlab.com/api/v4/projects/24497029/events",
                        "members": "https://gitlab.com/api/v4/projects/24497029/members",
                        "cluster_agents": "https://gitlab.com/api/v4/projects/24497029/cluster_agents"
                      },
                      "marked_for_deletion_at": null,
                      "marked_for_deletion_on": null,
                      "packages_enabled": true,
                      "empty_repo": false,
                      "archived": false,
                      "resolve_outdated_diff_discussions": false,
                      "container_expiration_policy": {
                        "cadence": "1d",
                        "enabled": false,
                        "keep_n": 10,
                        "older_than": "90d",
                        "name_regex": ".*",
                        "name_regex_keep": null,
                        "next_run_at": "2021-02-19T08:25:21.104Z"
                      },
                      "repository_object_format": "sha1",
                      "issues_enabled": true,
                      "merge_requests_enabled": true,
                      "wiki_enabled": true,
                      "jobs_enabled": true,
                      "snippets_enabled": true,
                      "container_registry_enabled": true,
                      "service_desk_enabled": true,
                      "service_desk_address": "contact-project+nodeqa-nodemationqa-24497029-issue-@incoming.gitlab.com",
                      "can_create_merge_request_in": true,
                      "issues_access_level": "enabled",
                      "repository_access_level": "enabled",
                      "merge_requests_access_level": "enabled",
                      "forking_access_level": "enabled",
                      "wiki_access_level": "enabled",
                      "builds_access_level": "enabled",
                      "snippets_access_level": "enabled",
                      "pages_access_level": "private",
                      "analytics_access_level": "enabled",
                      "container_registry_access_level": "enabled",
                      "security_and_compliance_access_level": "private",
                      "releases_access_level": "enabled",
                      "environments_access_level": "enabled",
                      "feature_flags_access_level": "enabled",
                      "infrastructure_access_level": "enabled",
                      "monitor_access_level": "enabled",
                      "model_experiments_access_level": "enabled",
                      "model_registry_access_level": "enabled",
                      "emails_disabled": false,
                      "emails_enabled": true,
                      "shared_runners_enabled": true,
                      "lfs_enabled": true,
                      "creator_id": 8226562,
                      "import_url": null,
                      "import_type": null,
                      "import_status": "none",
                      "import_error": null,
                      "open_issues_count": 3112,
                      "description_html": "",
                      "updated_at": "2025-07-18T12:47:44.599Z",
                      "ci_default_git_depth": 50,
                      "ci_delete_pipelines_in_seconds": null,
                      "ci_forward_deployment_enabled": true,
                      "ci_forward_deployment_rollback_allowed": true,
                      "ci_job_token_scope_enabled": false,
                      "ci_separated_caches": true,
                      "ci_allow_fork_pipelines_to_run_in_parent_project": true,
                      "ci_id_token_sub_claim_components": [
                        "project_path",
                        "ref_type",
                        "ref"
                      ],
                      "build_git_strategy": "fetch",
                      "keep_latest_artifact": true,
                      "restrict_user_defined_variables": false,
                      "ci_pipeline_variables_minimum_override_role": "developer",
                      "runner_token_expiration_interval": null,
                      "group_runners_enabled": true,
                      "auto_cancel_pending_pipelines": "enabled",
                      "build_timeout": 3600,
                      "auto_devops_enabled": false,
                      "auto_devops_deploy_strategy": "continuous",
                      "ci_push_repository_for_job_token_allowed": false,
                      "ci_config_path": "",
                      "public_jobs": true,
                      "shared_with_groups": [],
                      "only_allow_merge_if_pipeline_succeeds": false,
                      "allow_merge_on_skipped_pipeline": null,
                      "request_access_enabled": true,
                      "only_allow_merge_if_all_discussions_are_resolved": false,
                      "remove_source_branch_after_merge": true,
                      "printing_merge_request_link_enabled": true,
                      "merge_method": "merge",
                      "merge_request_title_regex": null,
                      "merge_request_title_regex_description": null,
                      "squash_option": "default_off",
                      "enforce_auth_checks_on_uploads": true,
                      "suggestion_commit_message": null,
                      "merge_commit_template": null,
                      "squash_commit_template": null,
                      "issue_branch_template": null,
                      "warn_about_potentially_unwanted_characters": true,
                      "autoclose_referenced_issues": true,
                      "max_artifacts_size": null,
                      "external_authorization_classification_label": "",
                      "requirements_enabled": false,
                      "requirements_access_level": "enabled",
                      "security_and_compliance_enabled": true,
                      "compliance_frameworks": [],
                      "web_based_commit_signing_enabled": false,
                      "permissions": {
                        "project_access": null,
                        "group_access": {
                          "access_level": 50,
                          "notification_level": 3
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 170770797,
                      "iid": 3113,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:52:18.590Z",
                      "updated_at": "2025-07-18T12:52:18.590Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 0,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": null,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3113",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3113",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3113/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3113/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3113",
                        "relative": "#3113",
                        "full": "nodeqa/nodemationqa#3113"
                      },
                      "severity": "UNKNOWN",
                      "subscribed": true,
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Release1752843139095",
                      "tag_name": "Release-tag-test1752843139097",
                      "description": null,
                      "created_at": "2025-07-18T12:52:20.090Z",
                      "released_at": "2025-07-18T12:52:20.090Z",
                      "upcoming_release": false,
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "commit": {
                        "id": "dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                        "short_id": "dd2f13c1",
                        "created_at": "2021-02-18T08:38:06.000+00:00",
                        "parent_ids": [],
                        "title": "Update README.md",
                        "message": "Update README.md",
                        "author_name": "n8n qa",
                        "author_email": "nodeqa@n8n.io",
                        "authored_date": "2021-02-18T08:38:06.000+00:00",
                        "committer_name": "n8n qa",
                        "committer_email": "nodeqa@n8n.io",
                        "committed_date": "2021-02-18T08:38:06.000+00:00",
                        "trailers": {},
                        "extended_trailers": {},
                        "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252"
                      },
                      "commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                      "tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752843139097",
                      "assets": {
                        "count": 4,
                        "sources": [
                          {
                            "format": "zip",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.zip"
                          },
                          {
                            "format": "tar.gz",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.gz"
                          },
                          {
                            "format": "tar.bz2",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.bz2"
                          },
                          {
                            "format": "tar",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar"
                          }
                        ],
                        "links": []
                      },
                      "evidences": [],
                      "_links": {
                        "closed_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "closed_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "edit_url": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/edit",
                        "merged_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=merged",
                        "opened_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "opened_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "self": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 24497628,
                      "description": "Project created for gitlab node QA teting",
                      "name": "QATestProject",
                      "name_with_namespace": "n8n qa / QATestProject",
                      "path": "qatestproject",
                      "path_with_namespace": "n8nqa/qatestproject",
                      "created_at": "2021-02-18T08:40:49.130Z",
                      "default_branch": "main",
                      "tag_list": [],
                      "topics": "DYNAMIC",
                      "ssh_url_to_repo": "git@gitlab.com:n8nqa/qatestproject.git",
                      "http_url_to_repo": "https://gitlab.com/n8nqa/qatestproject.git",
                      "web_url": "https://gitlab.com/n8nqa/qatestproject",
                      "readme_url": null,
                      "forks_count": 0,
                      "avatar_url": null,
                      "star_count": 0,
                      "last_activity_at": "2023-04-30T00:20:13.620Z",
                      "visibility": "private",
                      "namespace": {
                        "id": 11020507,
                        "name": "n8n qa",
                        "path": "n8nqa",
                        "kind": "user",
                        "full_path": "n8nqa",
                        "parent_id": null,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "container_registry_image_prefix": "registry.gitlab.com/n8nqa/qatestproject",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497628",
                        "issues": "https://gitlab.com/api/v4/projects/24497628/issues",
                        "merge_requests": "https://gitlab.com/api/v4/projects/24497628/merge_requests",
                        "repo_branches": "https://gitlab.com/api/v4/projects/24497628/repository/branches",
                        "labels": "https://gitlab.com/api/v4/projects/24497628/labels",
                        "events": "https://gitlab.com/api/v4/projects/24497628/events",
                        "members": "https://gitlab.com/api/v4/projects/24497628/members",
                        "cluster_agents": "https://gitlab.com/api/v4/projects/24497628/cluster_agents"
                      },
                      "marked_for_deletion_at": null,
                      "marked_for_deletion_on": null,
                      "packages_enabled": true,
                      "empty_repo": true,
                      "archived": false,
                      "owner": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "resolve_outdated_diff_discussions": false,
                      "container_expiration_policy": {
                        "cadence": "1d",
                        "enabled": false,
                        "keep_n": 10,
                        "older_than": "90d",
                        "name_regex": ".*",
                        "name_regex_keep": null,
                        "next_run_at": "2021-02-19T08:40:49.153Z"
                      },
                      "repository_object_format": "sha1",
                      "issues_enabled": true,
                      "merge_requests_enabled": true,
                      "wiki_enabled": true,
                      "jobs_enabled": true,
                      "snippets_enabled": true,
                      "container_registry_enabled": true,
                      "service_desk_enabled": true,
                      "service_desk_address": "contact-project+n8nqa-qatestproject-24497628-issue-@incoming.gitlab.com",
                      "can_create_merge_request_in": true,
                      "issues_access_level": "enabled",
                      "repository_access_level": "enabled",
                      "merge_requests_access_level": "enabled",
                      "forking_access_level": "enabled",
                      "wiki_access_level": "enabled",
                      "builds_access_level": "enabled",
                      "snippets_access_level": "enabled",
                      "pages_access_level": "private",
                      "analytics_access_level": "enabled",
                      "container_registry_access_level": "enabled",
                      "security_and_compliance_access_level": "private",
                      "releases_access_level": "enabled",
                      "environments_access_level": "enabled",
                      "feature_flags_access_level": "enabled",
                      "infrastructure_access_level": "enabled",
                      "monitor_access_level": "enabled",
                      "model_experiments_access_level": "enabled",
                      "model_registry_access_level": "enabled",
                      "emails_disabled": false,
                      "emails_enabled": true,
                      "shared_runners_enabled": true,
                      "lfs_enabled": true,
                      "creator_id": 8226562,
                      "import_url": null,
                      "import_type": null,
                      "import_status": "none",
                      "open_issues_count": 2,
                      "description_html": "<p data-sourcepos=\"1:1-1:41\" dir=\"auto\">Project created for gitlab node QA teting</p>",
                      "updated_at": "2024-01-16T16:24:11.955Z",
                      "ci_default_git_depth": 50,
                      "ci_delete_pipelines_in_seconds": null,
                      "ci_forward_deployment_enabled": true,
                      "ci_forward_deployment_rollback_allowed": true,
                      "ci_job_token_scope_enabled": false,
                      "ci_separated_caches": true,
                      "ci_allow_fork_pipelines_to_run_in_parent_project": true,
                      "ci_id_token_sub_claim_components": [
                        "project_path",
                        "ref_type",
                        "ref"
                      ],
                      "build_git_strategy": "fetch",
                      "keep_latest_artifact": true,
                      "restrict_user_defined_variables": false,
                      "ci_pipeline_variables_minimum_override_role": "developer",
                      "runner_token_expiration_interval": null,
                      "group_runners_enabled": true,
                      "auto_cancel_pending_pipelines": "enabled",
                      "build_timeout": 3600,
                      "auto_devops_enabled": false,
                      "auto_devops_deploy_strategy": "continuous",
                      "ci_push_repository_for_job_token_allowed": false,
                      "runners_token": "GR1348941pyFzz2y953wFx1bxKt4A",
                      "ci_config_path": "",
                      "public_jobs": true,
                      "shared_with_groups": [],
                      "only_allow_merge_if_pipeline_succeeds": false,
                      "allow_merge_on_skipped_pipeline": null,
                      "request_access_enabled": true,
                      "only_allow_merge_if_all_discussions_are_resolved": false,
                      "remove_source_branch_after_merge": true,
                      "printing_merge_request_link_enabled": true,
                      "merge_method": "merge",
                      "merge_request_title_regex": null,
                      "merge_request_title_regex_description": null,
                      "squash_option": "default_off",
                      "enforce_auth_checks_on_uploads": true,
                      "suggestion_commit_message": null,
                      "merge_commit_template": null,
                      "squash_commit_template": null,
                      "issue_branch_template": null,
                      "warn_about_potentially_unwanted_characters": true,
                      "autoclose_referenced_issues": true,
                      "max_artifacts_size": null,
                      "external_authorization_classification_label": "",
                      "requirements_enabled": false,
                      "requirements_access_level": "enabled",
                      "security_and_compliance_enabled": true,
                      "compliance_frameworks": [],
                      "web_based_commit_signing_enabled": false,
                      "permissions": {
                        "project_access": {
                          "access_level": 50,
                          "notification_level": 3
                        },
                        "group_access": null
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Gitlab"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 170770797,
                      "iid": 3113,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:52:18.590Z",
                      "updated_at": "2025-07-18T12:52:18.590Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 0,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": null,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3113",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3113",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3113/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3113/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3113",
                        "relative": "#3113",
                        "full": "nodeqa/nodemationqa#3113"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170770189,
                      "iid": 3112,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:47:37.742Z",
                      "updated_at": "2025-07-18T12:47:43.982Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3112",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3112",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3112/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3112/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3112",
                        "relative": "#3112",
                        "full": "nodeqa/nodemationqa#3112"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170767845,
                      "iid": 3111,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:17:11.282Z",
                      "updated_at": "2025-07-18T12:17:18.021Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3111",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3111",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3111/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3111/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3111",
                        "relative": "#3111",
                        "full": "nodeqa/nodemationqa#3111"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170767468,
                      "iid": 3110,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:06:39.362Z",
                      "updated_at": "2025-07-18T12:06:46.359Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3110",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3110",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3110/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3110/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3110",
                        "relative": "#3110",
                        "full": "nodeqa/nodemationqa#3110"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170765761,
                      "iid": 3109,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T11:15:18.985Z",
                      "updated_at": "2025-07-18T11:15:29.060Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3109",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3109",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3109/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3109/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3109",
                        "relative": "#3109",
                        "full": "nodeqa/nodemationqa#3109"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170765634,
                      "iid": 3108,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T11:09:54.531Z",
                      "updated_at": "2025-07-18T11:10:02.387Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3108",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3108",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3108/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3108/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3108",
                        "relative": "#3108",
                        "full": "nodeqa/nodemationqa#3108"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170764891,
                      "iid": 3107,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T10:40:03.831Z",
                      "updated_at": "2025-07-18T10:40:10.716Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3107",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3107",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3107/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3107/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3107",
                        "relative": "#3107",
                        "full": "nodeqa/nodemationqa#3107"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170764348,
                      "iid": 3106,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T10:15:38.101Z",
                      "updated_at": "2025-07-18T10:15:47.196Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3106",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3106",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3106/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3106/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3106",
                        "relative": "#3106",
                        "full": "nodeqa/nodemationqa#3106"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170764285,
                      "iid": 3105,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T10:13:42.887Z",
                      "updated_at": "2025-07-18T10:13:51.045Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3105",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3105",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3105/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3105/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3105",
                        "relative": "#3105",
                        "full": "nodeqa/nodemationqa#3105"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170763064,
                      "iid": 3104,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T09:35:40.534Z",
                      "updated_at": "2025-07-18T09:35:46.574Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3104",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3104",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3104/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3104/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3104",
                        "relative": "#3104",
                        "full": "nodeqa/nodemationqa#3104"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170753277,
                      "iid": 3103,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T02:48:42.549Z",
                      "updated_at": "2025-07-18T02:48:49.769Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3103",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3103",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3103/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3103/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3103",
                        "relative": "#3103",
                        "full": "nodeqa/nodemationqa#3103"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170753272,
                      "iid": 3102,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T02:48:01.593Z",
                      "updated_at": "2025-07-18T02:48:07.489Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3102",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3102",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3102/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3102/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3102",
                        "relative": "#3102",
                        "full": "nodeqa/nodemationqa#3102"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170747062,
                      "iid": 3101,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:53:28.572Z",
                      "updated_at": "2025-07-17T21:53:35.891Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3101",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3101",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3101/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3101/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3101",
                        "relative": "#3101",
                        "full": "nodeqa/nodemationqa#3101"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170747008,
                      "iid": 3100,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:49:39.876Z",
                      "updated_at": "2025-07-17T21:49:45.537Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3100",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3100",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3100/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3100/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3100",
                        "relative": "#3100",
                        "full": "nodeqa/nodemationqa#3100"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746703,
                      "iid": 3099,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:38:58.241Z",
                      "updated_at": "2025-07-17T21:39:03.994Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3099",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3099",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3099/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3099/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3099",
                        "relative": "#3099",
                        "full": "nodeqa/nodemationqa#3099"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746630,
                      "iid": 3098,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:33:56.932Z",
                      "updated_at": "2025-07-17T21:34:03.680Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3098",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3098",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3098/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3098/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3098",
                        "relative": "#3098",
                        "full": "nodeqa/nodemationqa#3098"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746568,
                      "iid": 3097,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:30:20.026Z",
                      "updated_at": "2025-07-17T21:30:28.231Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3097",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3097",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3097/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3097/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3097",
                        "relative": "#3097",
                        "full": "nodeqa/nodemationqa#3097"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746518,
                      "iid": 3096,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:28:14.136Z",
                      "updated_at": "2025-07-17T21:28:20.627Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3096",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3096",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3096/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3096/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3096",
                        "relative": "#3096",
                        "full": "nodeqa/nodemationqa#3096"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746386,
                      "iid": 3095,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:23:36.947Z",
                      "updated_at": "2025-07-17T21:23:45.498Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3095",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3095",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3095/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3095/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3095",
                        "relative": "#3095",
                        "full": "nodeqa/nodemationqa#3095"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "id": 170746295,
                      "iid": 3094,
                      "project_id": 24497029,
                      "title": "Issue - Thu Jul 17 2025",
                      "description": "Edited QA Test on Thu Jul 17 2025",
                      "state": "opened",
                      "created_at": "2025-07-17T21:18:58.896Z",
                      "updated_at": "2025-07-17T21:19:11.441Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": true,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3094",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3094",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3094/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3094/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3094",
                        "relative": "#3094",
                        "full": "nodeqa/nodemationqa#3094"
                      },
                      "severity": "UNKNOWN",
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Gitlab2"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 2635846653,
                      "type": null,
                      "body": "Comment on issue - Fri Jul 18 2025 13:52:21 GMT+0100 (Irish Standard Time)",
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "created_at": "2025-07-18T12:52:21.448Z",
                      "updated_at": "2025-07-18T12:52:21.448Z",
                      "system": false,
                      "noteable_id": 170770797,
                      "noteable_type": "Issue",
                      "project_id": 24497029,
                      "resolvable": false,
                      "confidential": false,
                      "internal": false,
                      "imported": false,
                      "imported_from": "none",
                      "noteable_iid": 3113,
                      "commands_changes": {}
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Gitlab7"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Release1752843139095",
                      "tag_name": "Release-tag-test1752843139097",
                      "description": null,
                      "created_at": "2025-07-18T12:52:20.090Z",
                      "released_at": "2025-07-18T12:52:20.090Z",
                      "upcoming_release": false,
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "commit": {
                        "id": "dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                        "short_id": "dd2f13c1",
                        "created_at": "2021-02-18T08:38:06.000+00:00",
                        "parent_ids": [],
                        "title": "Update README.md",
                        "message": "Update README.md",
                        "author_name": "n8n qa",
                        "author_email": "nodeqa@n8n.io",
                        "authored_date": "2021-02-18T08:38:06.000+00:00",
                        "committer_name": "n8n qa",
                        "committer_email": "nodeqa@n8n.io",
                        "committed_date": "2021-02-18T08:38:06.000+00:00",
                        "trailers": {},
                        "extended_trailers": {},
                        "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252"
                      },
                      "commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                      "tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752843139097",
                      "assets": {
                        "count": 4,
                        "sources": [
                          {
                            "format": "zip",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.zip"
                          },
                          {
                            "format": "tar.gz",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.gz"
                          },
                          {
                            "format": "tar.bz2",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.bz2"
                          },
                          {
                            "format": "tar",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar"
                          }
                        ],
                        "links": []
                      },
                      "evidences": [
                        {
                          "sha": "fbb62c8c6021f3d37f8498a8ebc536d297342d0fa0cd",
                          "filepath": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/evidences/14183906.json",
                          "collected_at": "2025-07-18T12:52:20.202Z"
                        }
                      ],
                      "_links": {
                        "closed_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "closed_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "edit_url": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/edit",
                        "merged_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=merged",
                        "opened_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "opened_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "self": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Gitlab3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 170770797,
                      "iid": 3113,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:52:18.590Z",
                      "updated_at": "2025-07-18T12:52:22.502Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": null,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3113",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3113",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3113/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3113/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3113",
                        "relative": "#3113",
                        "full": "nodeqa/nodemationqa#3113"
                      },
                      "severity": "UNKNOWN",
                      "subscribed": true,
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Gitlab9"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "Release1752843139095",
                      "tag_name": "Release-tag-test1752843139097",
                      "description": null,
                      "created_at": "2025-07-18T12:52:20.090Z",
                      "released_at": "2025-07-18T12:52:20.090Z",
                      "upcoming_release": false,
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "commit": {
                        "id": "dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                        "short_id": "dd2f13c1",
                        "created_at": "2021-02-18T08:38:06.000+00:00",
                        "parent_ids": [],
                        "title": "Update README.md",
                        "message": "Update README.md",
                        "author_name": "n8n qa",
                        "author_email": "nodeqa@n8n.io",
                        "authored_date": "2021-02-18T08:38:06.000+00:00",
                        "committer_name": "n8n qa",
                        "committer_email": "nodeqa@n8n.io",
                        "committed_date": "2021-02-18T08:38:06.000+00:00",
                        "trailers": {},
                        "extended_trailers": {},
                        "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252"
                      },
                      "commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                      "tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752843139097",
                      "assets": {
                        "count": 4,
                        "sources": [
                          {
                            "format": "zip",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.zip"
                          },
                          {
                            "format": "tar.gz",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.gz"
                          },
                          {
                            "format": "tar.bz2",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.bz2"
                          },
                          {
                            "format": "tar",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar"
                          }
                        ],
                        "links": []
                      },
                      "evidences": [
                        {
                          "sha": "fbb62c8c6021f3d37f8498a8ebc536d297342d0fa0cd",
                          "filepath": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/evidences/14183906.json",
                          "collected_at": "2025-07-18T12:52:20.202Z"
                        }
                      ],
                      "_links": {
                        "closed_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "closed_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "edit_url": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/edit",
                        "merged_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=merged",
                        "opened_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "opened_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "self": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Gitlab4"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 170770797,
                      "iid": 3113,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:52:18.590Z",
                      "updated_at": "2025-07-18T12:52:22.502Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": null,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3113",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3113",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3113/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3113/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3113",
                        "relative": "#3113",
                        "full": "nodeqa/nodemationqa#3113"
                      },
                      "severity": "UNKNOWN",
                      "subscribed": true,
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Gitlab10"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "UpdatedRelease1752843139095",
                      "tag_name": "Release-tag-test1752843139097",
                      "description": null,
                      "created_at": "2025-07-18T12:52:20.090Z",
                      "released_at": "2025-07-18T12:52:20.090Z",
                      "upcoming_release": false,
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "commit": {
                        "id": "dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                        "short_id": "dd2f13c1",
                        "created_at": "2021-02-18T08:38:06.000+00:00",
                        "parent_ids": [],
                        "title": "Update README.md",
                        "message": "Update README.md",
                        "author_name": "n8n qa",
                        "author_email": "nodeqa@n8n.io",
                        "authored_date": "2021-02-18T08:38:06.000+00:00",
                        "committer_name": "n8n qa",
                        "committer_email": "nodeqa@n8n.io",
                        "committed_date": "2021-02-18T08:38:06.000+00:00",
                        "trailers": {},
                        "extended_trailers": {},
                        "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252"
                      },
                      "commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                      "tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752843139097",
                      "assets": {
                        "count": 4,
                        "sources": [
                          {
                            "format": "zip",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.zip"
                          },
                          {
                            "format": "tar.gz",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.gz"
                          },
                          {
                            "format": "tar.bz2",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.bz2"
                          },
                          {
                            "format": "tar",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar"
                          }
                        ],
                        "links": []
                      },
                      "evidences": [
                        {
                          "sha": "fbb62c8c6021f3d37f8498a8ebc536d297342d0fa0cd",
                          "filepath": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/evidences/14183906.json",
                          "collected_at": "2025-07-18T12:52:20.202Z"
                        }
                      ],
                      "_links": {
                        "closed_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "closed_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "edit_url": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/edit",
                        "merged_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=merged",
                        "opened_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "opened_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "self": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Gitlab5"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 170770797,
                      "iid": 3113,
                      "project_id": 24497029,
                      "title": "Issue - Fri Jul 18 2025",
                      "description": "Edited QA Test on Fri Jul 18 2025",
                      "state": "opened",
                      "created_at": "2025-07-18T12:52:18.590Z",
                      "updated_at": "2025-07-18T12:52:22.502Z",
                      "closed_at": null,
                      "closed_by": null,
                      "labels": [],
                      "milestone": null,
                      "assignees": [],
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "type": "ISSUE",
                      "assignee": null,
                      "user_notes_count": 1,
                      "merge_requests_count": 0,
                      "upvotes": 0,
                      "downvotes": 0,
                      "due_date": null,
                      "confidential": false,
                      "discussion_locked": null,
                      "issue_type": "issue",
                      "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues/3113",
                      "time_stats": {
                        "time_estimate": 0,
                        "total_time_spent": 0,
                        "human_time_estimate": null,
                        "human_total_time_spent": null
                      },
                      "task_completion_status": {
                        "count": 0,
                        "completed_count": 0
                      },
                      "blocking_issues_count": 0,
                      "has_tasks": true,
                      "task_status": "0 of 0 checklist items completed",
                      "_links": {
                        "self": "https://gitlab.com/api/v4/projects/24497029/issues/3113",
                        "notes": "https://gitlab.com/api/v4/projects/24497029/issues/3113/notes",
                        "award_emoji": "https://gitlab.com/api/v4/projects/24497029/issues/3113/award_emoji",
                        "project": "https://gitlab.com/api/v4/projects/24497029",
                        "closed_as_duplicate_of": null
                      },
                      "references": {
                        "short": "#3113",
                        "relative": "#3113",
                        "full": "nodeqa/nodemationqa#3113"
                      },
                      "severity": "UNKNOWN",
                      "subscribed": true,
                      "moved_to_id": null,
                      "imported": false,
                      "imported_from": "none",
                      "service_desk_reply_to": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Gitlab12": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Gitlab11"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "name": "UpdatedRelease1752843139095",
                      "tag_name": "Release-tag-test1752843139097",
                      "description": null,
                      "created_at": "2025-07-18T12:52:20.090Z",
                      "released_at": "2025-07-18T12:52:20.090Z",
                      "upcoming_release": false,
                      "author": {
                        "id": 8226562,
                        "username": "n8nqa",
                        "public_email": "",
                        "name": "n8n qa",
                        "state": "active",
                        "locked": false,
                        "avatar_url": "https://secure.gravatar.com/avatar/480f77bb1eb01428c70600949e80f8098b1d505b64627ec914937f64c3c69035?s=80&d=identicon",
                        "web_url": "https://gitlab.com/n8nqa"
                      },
                      "commit": {
                        "id": "dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                        "short_id": "dd2f13c1",
                        "created_at": "2021-02-18T08:38:06.000+00:00",
                        "parent_ids": [],
                        "title": "Update README.md",
                        "message": "Update README.md",
                        "author_name": "n8n qa",
                        "author_email": "nodeqa@n8n.io",
                        "authored_date": "2021-02-18T08:38:06.000+00:00",
                        "committer_name": "n8n qa",
                        "committer_email": "nodeqa@n8n.io",
                        "committed_date": "2021-02-18T08:38:06.000+00:00",
                        "trailers": {},
                        "extended_trailers": {},
                        "web_url": "https://gitlab.com/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252"
                      },
                      "commit_path": "/nodeqa/nodemationqa/-/commit/dd2f13c1cc94dfd37e0c3063841860c5d0ae7252",
                      "tag_path": "/nodeqa/nodemationqa/-/tags/Release-tag-test1752843139097",
                      "assets": {
                        "count": 4,
                        "sources": [
                          {
                            "format": "zip",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.zip"
                          },
                          {
                            "format": "tar.gz",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.gz"
                          },
                          {
                            "format": "tar.bz2",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar.bz2"
                          },
                          {
                            "format": "tar",
                            "url": "https://gitlab.com/nodeqa/nodemationqa/-/archive/Release-tag-test1752843139097/nodemationqa-Release-tag-test1752843139097.tar"
                          }
                        ],
                        "links": []
                      },
                      "evidences": [],
                      "_links": {
                        "closed_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "closed_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=closed",
                        "edit_url": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097/edit",
                        "merged_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=merged",
                        "opened_issues_url": "https://gitlab.com/nodeqa/nodemationqa/-/issues?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "opened_merge_requests_url": "https://gitlab.com/nodeqa/nodemationqa/-/merge_requests?release_tag=Release-tag-test1752843139097&scope=all&state=opened",
                        "self": "https://gitlab.com/nodeqa/nodemationqa/-/releases/Release-tag-test1752843139097"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Gitlab12"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}