packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-255-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking ‘Test workflow’": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenAI Chat Model": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 2,
            "executionStatus": "error",
            "source": [
              {
                "previousNode": "Basic LLM Chain",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "Human: Hey"
                      ],
                      "estimatedTokens": 3,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini123",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": [
                        "Human: Hey"
                      ],
                      "estimatedTokens": 3,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4o-mini123",
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model",
                  "runIndex": 0
                }
              ]
            },
            "error": {
              "message": "The resource you are requesting could not be found",
              "timestamp": 1752843130462,
              "name": "NodeApiError",
              "description": "The model `gpt-4o-mini123` does not exist or you do not have access to it.",
              "context": {}
            }
          }
        ],
        "Basic LLM Chain": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "When clicking ‘Test workflow’"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [],
                [
                  {
                    "json": {
                      "error": "The resource you are requesting could not be found"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Basic LLM Chain"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "OpenAI Chat Model": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}