packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-11-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "FNAME": "node",
                        "LNAME": "qa",
                        "ADDRESS": "",
                        "PHONE": "",
                        "BIRTHDAY": "",
                        "MMERGE6": "",
                        "MMERGE7": "",
                        "MMERGE8": "",
                        "MMERGE9": "",
                        "MMERGE10": "",
                        "MMERGE11": "",
                        "MMERGE12": "",
                        "MMERGE13": "",
                        "MMERGE14": "",
                        "MMERGE15": ""
                      },
                      "interests": {
                        "928c597e2a": true
                      },
                      "stats": {
                        "avg_open_rate": 0,
                        "avg_click_rate": 0
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2025-07-18T12:44:36+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "latitude": 0,
                        "longitude": 0,
                        "gmtoff": 0,
                        "dstoff": 0,
                        "country_code": "",
                        "timezone": "",
                        "region": ""
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"
                        },
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"
                        },
                        {
                          "rel": "update",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PATCH",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"
                        },
                        {
                          "rel": "upsert",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PUT",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PUT.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "DELETE"
                        },
                        {
                          "rel": "activity",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/activity",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Activity/Response.json"
                        },
                        {
                          "rel": "goals",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/goals",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Goals/Response.json"
                        },
                        {
                          "rel": "notes",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/notes",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Notes/CollectionResponse.json"
                        },
                        {
                          "rel": "events",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/events",
                          "method": "POST",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Events/POST.json"
                        },
                        {
                          "rel": "delete_permanent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/actions/delete-permanent",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "email": "test43099822@gmail.com"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "category_id": "2adbc0d543",
                      "list_id": "eb9ad4be19",
                      "id": "928c597e2a",
                      "name": "QA",
                      "subscriber_count": "1",
                      "display_order": 1,
                      "_links": [
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/interest-categories/2adbc0d543/interests/928c597e2a",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"
                        },
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/interest-categories/2adbc0d543/interests",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Interests/Collection.json"
                        },
                        {
                          "rel": "update",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/interest-categories/2adbc0d543/interests/928c597e2a",
                          "method": "PATCH",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/PATCH.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/interest-categories/2adbc0d543/interests/928c597e2a",
                          "method": "DELETE"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "e117a6f053",
                      "status": "sent",
                      "settings": {
                        "title": "nodeqa@n8n.io",
                        "from_name": "node",
                        "reply_to": "nodeqa@n8n.io"
                      },
                      "tracking": {
                        "opens": false,
                        "html_clicks": false,
                        "text_clicks": false,
                        "goal_tracking": false,
                        "ecomm360": false,
                        "google_analytics": "",
                        "clicktale": ""
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Mailchimp1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "FNAME": "node",
                        "LNAME": "qa",
                        "ADDRESS": "",
                        "PHONE": "",
                        "BIRTHDAY": "",
                        "MMERGE6": "",
                        "MMERGE7": "",
                        "MMERGE8": "",
                        "MMERGE9": "",
                        "MMERGE10": "",
                        "MMERGE11": "",
                        "MMERGE12": "",
                        "MMERGE13": "",
                        "MMERGE14": "",
                        "MMERGE15": ""
                      },
                      "interests": {
                        "928c597e2a": true
                      },
                      "stats": {
                        "avg_open_rate": 0,
                        "avg_click_rate": 0
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2025-07-18T12:44:36+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "latitude": 0,
                        "longitude": 0,
                        "gmtoff": 0,
                        "dstoff": 0,
                        "country_code": "",
                        "timezone": "",
                        "region": ""
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"
                        },
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"
                        },
                        {
                          "rel": "update",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PATCH",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"
                        },
                        {
                          "rel": "upsert",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PUT",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PUT.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "DELETE"
                        },
                        {
                          "rel": "activity",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/activity",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Activity/Response.json"
                        },
                        {
                          "rel": "goals",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/goals",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Goals/Response.json"
                        },
                        {
                          "rel": "notes",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/notes",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Notes/CollectionResponse.json"
                        },
                        {
                          "rel": "events",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/events",
                          "method": "POST",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Events/POST.json"
                        },
                        {
                          "rel": "delete_permanent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/actions/delete-permanent",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Function"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "fc52606a55baa089fe8b930a6b01634f",
                      "email_address": "test43099822@gmail.com",
                      "unique_email_id": "00c04612df",
                      "contact_id": "e4b0fe744375659b9d051ddfcfe69a7b",
                      "full_name": "",
                      "web_id": 606722153,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "FNAME": "",
                        "LNAME": "",
                        "ADDRESS": "",
                        "PHONE": "",
                        "BIRTHDAY": "",
                        "MMERGE6": "",
                        "MMERGE7": "",
                        "MMERGE8": "",
                        "MMERGE9": "",
                        "MMERGE10": "",
                        "MMERGE11": "",
                        "MMERGE12": "",
                        "MMERGE13": "",
                        "MMERGE14": "",
                        "MMERGE15": ""
                      },
                      "interests": {
                        "928c597e2a": false
                      },
                      "stats": {
                        "avg_open_rate": 0,
                        "avg_click_rate": 0
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "194.125.63.145",
                      "timestamp_opt": "2025-07-18T12:51:41+00:00",
                      "member_rating": 2,
                      "last_changed": "2025-07-18T12:51:41+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "latitude": 0,
                        "longitude": 0,
                        "gmtoff": 0,
                        "dstoff": 0,
                        "country_code": "",
                        "timezone": "",
                        "region": ""
                      },
                      "source": "API - Generic",
                      "tags_count": 0,
                      "tags": [],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"
                        },
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"
                        },
                        {
                          "rel": "update",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f",
                          "method": "PATCH",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"
                        },
                        {
                          "rel": "upsert",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f",
                          "method": "PUT",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PUT.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f",
                          "method": "DELETE"
                        },
                        {
                          "rel": "activity",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f/activity",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Activity/Response.json"
                        },
                        {
                          "rel": "goals",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f/goals",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Goals/Response.json"
                        },
                        {
                          "rel": "notes",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f/notes",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Notes/CollectionResponse.json"
                        },
                        {
                          "rel": "events",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f/events",
                          "method": "POST",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Events/POST.json"
                        },
                        {
                          "rel": "delete_permanent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/fc52606a55baa089fe8b930a6b01634f/actions/delete-permanent",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Mailchimp8"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "e117a6f053",
                      "web_id": 4820246,
                      "type": "plaintext",
                      "create_time": "2021-02-19T12:32:03+00:00",
                      "archive_url": "http://eepurl.com/hq3G0v",
                      "long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=e117a6f053",
                      "status": "sent",
                      "emails_sent": 1,
                      "send_time": "2021-02-19T12:33:21+00:00",
                      "content_type": "template",
                      "needs_block_refresh": false,
                      "resendable": false,
                      "recipients": {
                        "list_id": "eb9ad4be19",
                        "list_is_active": true,
                        "list_name": "nodeqa",
                        "segment_text": "",
                        "recipient_count": 1
                      },
                      "settings": {
                        "subject_line": "Campaign test",
                        "preview_text": "nodemation QA test",
                        "title": "nodeqa@n8n.io",
                        "from_name": "node",
                        "reply_to": "nodeqa@n8n.io",
                        "use_conversation": false,
                        "to_name": "",
                        "folder_id": "",
                        "authenticate": true,
                        "auto_footer": false,
                        "inline_css": false,
                        "auto_tweet": false,
                        "fb_comments": false,
                        "timewarp": false,
                        "template_id": 0,
                        "drag_and_drop": false
                      },
                      "tracking": {
                        "opens": false,
                        "html_clicks": false,
                        "text_clicks": false,
                        "goal_tracking": false,
                        "ecomm360": false,
                        "google_analytics": "",
                        "clicktale": ""
                      },
                      "report_summary": {
                        "opens": 0,
                        "unique_opens": 0,
                        "open_rate": 0,
                        "clicks": 0,
                        "subscriber_clicks": 0,
                        "click_rate": 0,
                        "ecommerce": {
                          "total_orders": 0,
                          "total_spent": 0,
                          "total_revenue": 0
                        }
                      },
                      "delivery_status": {
                        "enabled": false
                      },
                      "_links": [
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Campaigns/Collection.json"
                        },
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Response.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053",
                          "method": "DELETE"
                        },
                        {
                          "rel": "send",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/send",
                          "method": "POST"
                        },
                        {
                          "rel": "cancel_send",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/cancel-send",
                          "method": "POST"
                        },
                        {
                          "rel": "feedback",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/feedback",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Feedback/CollectionResponse.json"
                        },
                        {
                          "rel": "content",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/content",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Content/Response.json"
                        },
                        {
                          "rel": "send_checklist",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/send-checklist",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Checklist/Response.json"
                        },
                        {
                          "rel": "pause",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/pause",
                          "method": "POST"
                        },
                        {
                          "rel": "resume",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/resume",
                          "method": "POST"
                        },
                        {
                          "rel": "replicate",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/replicate",
                          "method": "POST"
                        },
                        {
                          "rel": "create_resend",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/e117a6f053/actions/create-resend",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Mailchimp"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "c81277605b129fdafaacede5ae34e07c",
                      "email_address": "nodeqa@n8n.io",
                      "unique_email_id": "cb7624ba4b",
                      "contact_id": "2f4ff7f445018adb50969f99df88dd9e",
                      "full_name": "node qa",
                      "web_id": 502612022,
                      "email_type": "html",
                      "status": "subscribed",
                      "consents_to_one_to_one_messaging": true,
                      "sms_phone_number": "",
                      "sms_subscription_status": "",
                      "sms_subscription_last_updated": "",
                      "merge_fields": {
                        "FNAME": "node",
                        "LNAME": "qa",
                        "ADDRESS": "",
                        "PHONE": "",
                        "BIRTHDAY": "",
                        "MMERGE6": "",
                        "MMERGE7": "",
                        "MMERGE8": "",
                        "MMERGE9": "",
                        "MMERGE10": "",
                        "MMERGE11": "",
                        "MMERGE12": "",
                        "MMERGE13": "",
                        "MMERGE14": "",
                        "MMERGE15": ""
                      },
                      "interests": {
                        "928c597e2a": true
                      },
                      "stats": {
                        "avg_open_rate": 0,
                        "avg_click_rate": 0
                      },
                      "ip_signup": "",
                      "timestamp_signup": "",
                      "ip_opt": "41.62.62.149",
                      "timestamp_opt": "2021-02-19T10:59:04+00:00",
                      "member_rating": 2,
                      "last_changed": "2025-07-18T12:44:36+00:00",
                      "language": "",
                      "vip": false,
                      "email_client": "",
                      "location": {
                        "latitude": 0,
                        "longitude": 0,
                        "gmtoff": 0,
                        "dstoff": 0,
                        "country_code": "",
                        "timezone": "",
                        "region": ""
                      },
                      "source": "Admin Add",
                      "tags_count": 0,
                      "tags": [],
                      "list_id": "eb9ad4be19",
                      "_links": [
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"
                        },
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"
                        },
                        {
                          "rel": "update",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PATCH",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"
                        },
                        {
                          "rel": "upsert",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "PUT",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PUT.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c",
                          "method": "DELETE"
                        },
                        {
                          "rel": "activity",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/activity",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Activity/Response.json"
                        },
                        {
                          "rel": "goals",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/goals",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Goals/Response.json"
                        },
                        {
                          "rel": "notes",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/notes",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Notes/CollectionResponse.json"
                        },
                        {
                          "rel": "events",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/events",
                          "method": "POST",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Events/POST.json"
                        },
                        {
                          "rel": "delete_permanent",
                          "href": "https://us1.api.mailchimp.com/3.0/lists/eb9ad4be19/members/c81277605b129fdafaacede5ae34e07c/actions/delete-permanent",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Mailchimp"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Mailchimp3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Mailchimp9"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "4900637632",
                      "web_id": 11041975,
                      "type": "plaintext",
                      "create_time": "2025-07-18T12:51:43+00:00",
                      "archive_url": "http://eepurl.com/jju2ts",
                      "long_archive_url": "https://us1.campaign-archive.com/?u=396affb9e515ed83edaecbba9&id=4900637632",
                      "status": "save",
                      "emails_sent": 0,
                      "send_time": "",
                      "content_type": "template",
                      "needs_block_refresh": false,
                      "resendable": false,
                      "recipients": {
                        "list_id": "eb9ad4be19",
                        "list_name": "nodeqa",
                        "segment_text": "",
                        "recipient_count": 23
                      },
                      "settings": {
                        "subject_line": "Campaign test",
                        "preview_text": "nodemation QA test",
                        "title": "nodeqa@n8n.io (copy 2925)",
                        "from_name": "node",
                        "reply_to": "nodeqa@n8n.io",
                        "use_conversation": false,
                        "to_name": "",
                        "folder_id": "",
                        "authenticate": true,
                        "auto_footer": false,
                        "inline_css": false,
                        "auto_tweet": false,
                        "fb_comments": false,
                        "timewarp": false,
                        "template_id": 0,
                        "drag_and_drop": false
                      },
                      "tracking": {
                        "opens": false,
                        "html_clicks": false,
                        "text_clicks": false,
                        "goal_tracking": false,
                        "ecomm360": false,
                        "google_analytics": "",
                        "clicktale": ""
                      },
                      "delivery_status": {
                        "enabled": false
                      },
                      "_links": [
                        {
                          "rel": "parent",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/CollectionResponse.json",
                          "schema": "https://us1.api.mailchimp.com/schema/3.0/Paths/Campaigns/Collection.json"
                        },
                        {
                          "rel": "self",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Response.json"
                        },
                        {
                          "rel": "delete",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632",
                          "method": "DELETE"
                        },
                        {
                          "rel": "send",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/send",
                          "method": "POST"
                        },
                        {
                          "rel": "cancel_send",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/cancel-send",
                          "method": "POST"
                        },
                        {
                          "rel": "feedback",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/feedback",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Feedback/CollectionResponse.json"
                        },
                        {
                          "rel": "content",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/content",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Content/Response.json"
                        },
                        {
                          "rel": "send_checklist",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/send-checklist",
                          "method": "GET",
                          "targetSchema": "https://us1.api.mailchimp.com/schema/3.0/Definitions/Campaigns/Checklist/Response.json"
                        },
                        {
                          "rel": "pause",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/pause",
                          "method": "POST"
                        },
                        {
                          "rel": "resume",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/resume",
                          "method": "POST"
                        },
                        {
                          "rel": "replicate",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/replicate",
                          "method": "POST"
                        },
                        {
                          "rel": "create_resend",
                          "href": "https://us1.api.mailchimp.com/3.0/campaigns/4900637632/actions/create-resend",
                          "method": "POST"
                        }
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Mailchimp4"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Mailchimp11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Mailchimp10"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Mailchimp11"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}