packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-32-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift ": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 25630938045,
                      "createdAt": 1752843134569,
                      "attributes": {
                        "_END_USER_VERSION": 3,
                        "_end_user_version": 3,
                        "_calculated_version": 3,
                        "socialProfiles": {},
                        "name": "Test1752843134059",
                        "email": "fake1752843134057@gmail.com",
                        "tags": [],
                        "start_date": 1752843134569
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Drift "
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 25630938045,
                      "createdAt": 1752843134569,
                      "attributes": {
                        "_END_USER_VERSION": 3,
                        "_end_user_version": 3,
                        "_calculated_version": 3,
                        "socialProfiles": {},
                        "name": "node qtest1752843134674",
                        "email": "fake1752843134057@gmail.com",
                        "tags": [],
                        "start_date": 1752843134569
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Drift 1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": 25630938045,
                      "createdAt": 1752843134569,
                      "attributes": {
                        "_END_USER_VERSION": 4,
                        "_end_user_version": 4,
                        "_calculated_version": 4,
                        "socialProfiles": {},
                        "name": "node qtest1752843134674",
                        "email": "fake1752843134057@gmail.com",
                        "tags": [],
                        "start_date": 1752843134569
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Drift 3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Drift 2"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Drift 3"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}