packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-216-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle JSON data": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "attr1": "Testing",
                        "attr2": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "attr3": 7331,
                        "attr4": {
                          "subattr1": "Test",
                          "subattr2": [
                            1,
                            2,
                            3
                          ],
                          "subattr3": 8,
                          "subattr4": {}
                        }
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle Binary data": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Handle JSON data"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "attr1": "Testing",
                        "attr2": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "attr3": 7331,
                        "attr4": {
                          "subattr1": "Test",
                          "subattr2": [
                            1,
                            2,
                            3
                          ],
                          "subattr3": 8,
                          "subattr4": {}
                        }
                      },
                      "binaryData": "NIL"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "binary": {
                      "data": {
                        "data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93",
                        "mimeType": "text",
                        "fileExtension": "text",
                        "fileName": "testfile"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Handle Static data": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Handle Binary data"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "arr": [
                        1,
                        2,
                        3,
                        4,
                        5,
                        6,
                        7,
                        8,
                        9,
                        10
                      ],
                      "str": "Testing Function Item node",
                      "num": 1337,
                      "obj": {
                        "attr1": "Testing",
                        "attr2": [
                          1,
                          2,
                          3,
                          4,
                          5
                        ],
                        "attr3": 7331,
                        "attr4": {
                          "subattr1": "Test",
                          "subattr2": [
                            1,
                            2,
                            3
                          ],
                          "subattr3": 8,
                          "subattr4": {}
                        }
                      },
                      "binaryData": "NIL",
                      "globalStaticMessage": "Hello, Global Static Data",
                      "nodeStaticMessage": "Hello, Node Static Data"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "binary": {
                      "data": {
                        "data": "SGVsbG8gZnJvbSBuOG4gRnVuY3Rpb24gaXRlbSB0ZXN0aW5nIHdvcmtmbG93",
                        "mimeType": "text",
                        "fileExtension": "text",
                        "fileName": "testfile"
                      }
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Handle Static data"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}