packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-16-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "coord": {
                        "lon": 13.4105,
                        "lat": 52.5244
                      },
                      "weather": [
                        {
                          "id": 801,
                          "main": "Clouds",
                          "description": "few clouds",
                          "icon": "02d"
                        }
                      ],
                      "base": "stations",
                      "main": {
                        "temp": 22.9,
                        "feels_like": 23.13,
                        "temp_min": 21.72,
                        "temp_max": 25.01,
                        "pressure": 1012,
                        "humidity": 72,
                        "sea_level": 1012,
                        "grnd_level": 1007
                      },
                      "visibility": 10000,
                      "wind": {
                        "speed": 2.06,
                        "deg": 90
                      },
                      "clouds": {
                        "all": 20
                      },
                      "dt": 1752842835,
                      "sys": {
                        "type": 2,
                        "id": 2009543,
                        "country": "DE",
                        "sunrise": 1752807923,
                        "sunset": 1752866363
                      },
                      "timezone": 7200,
                      "id": 2950159,
                      "name": "Berlin",
                      "cod": 200
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenWeatherMap1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "OpenWeatherMap"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "cod": "200",
                      "message": 0,
                      "cnt": 40,
                      "list": [
                        {
                          "dt": 1752850800,
                          "main": {
                            "temp": 23.44,
                            "feels_like": 23.48,
                            "temp_min": 23.44,
                            "temp_max": 23.71,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1007,
                            "humidity": 63,
                            "temp_kf": -0.27
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03d"
                            }
                          ],
                          "clouds": {
                            "all": 35
                          },
                          "wind": {
                            "speed": 1.44,
                            "deg": 38,
                            "gust": 1.29
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-18 15:00:00"
                        },
                        {
                          "dt": 1752861600,
                          "main": {
                            "temp": 22.76,
                            "feels_like": 22.66,
                            "temp_min": 22.48,
                            "temp_max": 22.76,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 60,
                            "temp_kf": 0.28
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03d"
                            }
                          ],
                          "clouds": {
                            "all": 49
                          },
                          "wind": {
                            "speed": 1.06,
                            "deg": 49,
                            "gust": 1.21
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-18 18:00:00"
                        },
                        {
                          "dt": 1752872400,
                          "main": {
                            "temp": 21.88,
                            "feels_like": 21.85,
                            "temp_min": 21.88,
                            "temp_max": 21.88,
                            "pressure": 1013,
                            "sea_level": 1013,
                            "grnd_level": 1007,
                            "humidity": 66,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03n"
                            }
                          ],
                          "clouds": {
                            "all": 38
                          },
                          "wind": {
                            "speed": 1.26,
                            "deg": 101,
                            "gust": 1.29
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-18 21:00:00"
                        },
                        {
                          "dt": 1752883200,
                          "main": {
                            "temp": 20.68,
                            "feels_like": 20.66,
                            "temp_min": 20.68,
                            "temp_max": 20.68,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1007,
                            "humidity": 71,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03n"
                            }
                          ],
                          "clouds": {
                            "all": 38
                          },
                          "wind": {
                            "speed": 0.89,
                            "deg": 83,
                            "gust": 0.9
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-19 00:00:00"
                        },
                        {
                          "dt": 1752894000,
                          "main": {
                            "temp": 18.52,
                            "feels_like": 18.39,
                            "temp_min": 18.52,
                            "temp_max": 18.52,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 75,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03n"
                            }
                          ],
                          "clouds": {
                            "all": 45
                          },
                          "wind": {
                            "speed": 1.6,
                            "deg": 66,
                            "gust": 1.89
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-19 03:00:00"
                        },
                        {
                          "dt": 1752904800,
                          "main": {
                            "temp": 20.75,
                            "feels_like": 20.63,
                            "temp_min": 20.75,
                            "temp_max": 20.75,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 67,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 54
                          },
                          "wind": {
                            "speed": 1.27,
                            "deg": 95,
                            "gust": 1.64
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-19 06:00:00"
                        },
                        {
                          "dt": 1752915600,
                          "main": {
                            "temp": 25.5,
                            "feels_like": 25.33,
                            "temp_min": 25.5,
                            "temp_max": 25.5,
                            "pressure": 1011,
                            "sea_level": 1011,
                            "grnd_level": 1006,
                            "humidity": 47,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01d"
                            }
                          ],
                          "clouds": {
                            "all": 5
                          },
                          "wind": {
                            "speed": 1.4,
                            "deg": 102,
                            "gust": 1.38
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-19 09:00:00"
                        },
                        {
                          "dt": 1752926400,
                          "main": {
                            "temp": 28.65,
                            "feels_like": 27.89,
                            "temp_min": 28.65,
                            "temp_max": 28.65,
                            "pressure": 1010,
                            "sea_level": 1010,
                            "grnd_level": 1004,
                            "humidity": 35,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01d"
                            }
                          ],
                          "clouds": {
                            "all": 3
                          },
                          "wind": {
                            "speed": 0.84,
                            "deg": 77,
                            "gust": 1.3
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-19 12:00:00"
                        },
                        {
                          "dt": 1752937200,
                          "main": {
                            "temp": 29.15,
                            "feels_like": 28.19,
                            "temp_min": 29.15,
                            "temp_max": 29.15,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1003,
                            "humidity": 33,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01d"
                            }
                          ],
                          "clouds": {
                            "all": 3
                          },
                          "wind": {
                            "speed": 1.17,
                            "deg": 47,
                            "gust": 1.51
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-19 15:00:00"
                        },
                        {
                          "dt": 1752948000,
                          "main": {
                            "temp": 26.71,
                            "feels_like": 26.8,
                            "temp_min": 26.71,
                            "temp_max": 26.71,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1003,
                            "humidity": 43,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 801,
                              "main": "Clouds",
                              "description": "few clouds",
                              "icon": "02d"
                            }
                          ],
                          "clouds": {
                            "all": 19
                          },
                          "wind": {
                            "speed": 2.92,
                            "deg": 63,
                            "gust": 3.42
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-19 18:00:00"
                        },
                        {
                          "dt": 1752958800,
                          "main": {
                            "temp": 23.08,
                            "feels_like": 23.01,
                            "temp_min": 23.08,
                            "temp_max": 23.08,
                            "pressure": 1009,
                            "sea_level": 1009,
                            "grnd_level": 1004,
                            "humidity": 60,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04n"
                            }
                          ],
                          "clouds": {
                            "all": 66
                          },
                          "wind": {
                            "speed": 3.46,
                            "deg": 74,
                            "gust": 7.55
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-19 21:00:00"
                        },
                        {
                          "dt": 1752969600,
                          "main": {
                            "temp": 21.21,
                            "feels_like": 21.24,
                            "temp_min": 21.21,
                            "temp_max": 21.21,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1003,
                            "humidity": 71,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04n"
                            }
                          ],
                          "clouds": {
                            "all": 59
                          },
                          "wind": {
                            "speed": 2.25,
                            "deg": 102,
                            "gust": 4.91
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-20 00:00:00"
                        },
                        {
                          "dt": 1752980400,
                          "main": {
                            "temp": 19.62,
                            "feels_like": 19.67,
                            "temp_min": 19.62,
                            "temp_max": 19.62,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1002,
                            "humidity": 78,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04n"
                            }
                          ],
                          "clouds": {
                            "all": 67
                          },
                          "wind": {
                            "speed": 2.04,
                            "deg": 85,
                            "gust": 3.79
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-20 03:00:00"
                        },
                        {
                          "dt": 1752991200,
                          "main": {
                            "temp": 22,
                            "feels_like": 22.03,
                            "temp_min": 22,
                            "temp_max": 22,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1002,
                            "humidity": 68,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 68
                          },
                          "wind": {
                            "speed": 2.79,
                            "deg": 86,
                            "gust": 3.92
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-20 06:00:00"
                        },
                        {
                          "dt": 1753002000,
                          "main": {
                            "temp": 26.58,
                            "feels_like": 26.58,
                            "temp_min": 26.58,
                            "temp_max": 26.58,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1002,
                            "humidity": 49,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 63
                          },
                          "wind": {
                            "speed": 2.42,
                            "deg": 104,
                            "gust": 2.59
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-20 09:00:00"
                        },
                        {
                          "dt": 1753012800,
                          "main": {
                            "temp": 29.53,
                            "feels_like": 28.87,
                            "temp_min": 29.53,
                            "temp_max": 29.53,
                            "pressure": 1006,
                            "sea_level": 1006,
                            "grnd_level": 1001,
                            "humidity": 37,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 71
                          },
                          "wind": {
                            "speed": 1.13,
                            "deg": 122,
                            "gust": 1.3
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-20 12:00:00"
                        },
                        {
                          "dt": 1753023600,
                          "main": {
                            "temp": 30.13,
                            "feels_like": 29.3,
                            "temp_min": 30.13,
                            "temp_max": 30.13,
                            "pressure": 1005,
                            "sea_level": 1005,
                            "grnd_level": 1000,
                            "humidity": 35,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 804,
                              "main": "Clouds",
                              "description": "overcast clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 98
                          },
                          "wind": {
                            "speed": 0.92,
                            "deg": 79,
                            "gust": 1.13
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-20 15:00:00"
                        },
                        {
                          "dt": 1753034400,
                          "main": {
                            "temp": 27.85,
                            "feels_like": 27.74,
                            "temp_min": 27.85,
                            "temp_max": 27.85,
                            "pressure": 1005,
                            "sea_level": 1005,
                            "grnd_level": 1000,
                            "humidity": 43,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 804,
                              "main": "Clouds",
                              "description": "overcast clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 94
                          },
                          "wind": {
                            "speed": 3.15,
                            "deg": 90,
                            "gust": 4.1
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-20 18:00:00"
                        },
                        {
                          "dt": 1753045200,
                          "main": {
                            "temp": 22.6,
                            "feels_like": 22.74,
                            "temp_min": 22.6,
                            "temp_max": 22.6,
                            "pressure": 1006,
                            "sea_level": 1006,
                            "grnd_level": 1000,
                            "humidity": 70,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10n"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 1.57,
                            "deg": 97,
                            "gust": 4.69
                          },
                          "visibility": 10000,
                          "pop": 1,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-20 21:00:00"
                        },
                        {
                          "dt": 1753056000,
                          "main": {
                            "temp": 21.57,
                            "feels_like": 21.66,
                            "temp_min": 21.57,
                            "temp_max": 21.57,
                            "pressure": 1005,
                            "sea_level": 1005,
                            "grnd_level": 999,
                            "humidity": 72,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10n"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.15,
                            "deg": 119,
                            "gust": 6.07
                          },
                          "visibility": 10000,
                          "pop": 0.99,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-21 00:00:00"
                        },
                        {
                          "dt": 1753066800,
                          "main": {
                            "temp": 20.42,
                            "feels_like": 20.66,
                            "temp_min": 20.42,
                            "temp_max": 20.42,
                            "pressure": 1005,
                            "sea_level": 1005,
                            "grnd_level": 999,
                            "humidity": 82,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10n"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 1.18,
                            "deg": 184,
                            "gust": 1.72
                          },
                          "visibility": 10000,
                          "pop": 0.89,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-21 03:00:00"
                        },
                        {
                          "dt": 1753077600,
                          "main": {
                            "temp": 20.25,
                            "feels_like": 20.55,
                            "temp_min": 20.25,
                            "temp_max": 20.25,
                            "pressure": 1006,
                            "sea_level": 1006,
                            "grnd_level": 1000,
                            "humidity": 85,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.4,
                            "deg": 278,
                            "gust": 4.54
                          },
                          "visibility": 10000,
                          "pop": 0.87,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-21 06:00:00"
                        },
                        {
                          "dt": 1753088400,
                          "main": {
                            "temp": 20.53,
                            "feels_like": 20.86,
                            "temp_min": 20.53,
                            "temp_max": 20.53,
                            "pressure": 1006,
                            "sea_level": 1006,
                            "grnd_level": 1001,
                            "humidity": 85,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.35,
                            "deg": 300,
                            "gust": 5.09
                          },
                          "visibility": 10000,
                          "pop": 1,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-21 09:00:00"
                        },
                        {
                          "dt": 1753099200,
                          "main": {
                            "temp": 20.97,
                            "feels_like": 21.21,
                            "temp_min": 20.97,
                            "temp_max": 20.97,
                            "pressure": 1006,
                            "sea_level": 1006,
                            "grnd_level": 1001,
                            "humidity": 80,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.71,
                            "deg": 252,
                            "gust": 4.98
                          },
                          "visibility": 10000,
                          "pop": 1,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-21 12:00:00"
                        },
                        {
                          "dt": 1753110000,
                          "main": {
                            "temp": 17.31,
                            "feels_like": 17.47,
                            "temp_min": 17.31,
                            "temp_max": 17.31,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1002,
                            "humidity": 91,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 4.96,
                            "deg": 268,
                            "gust": 9.64
                          },
                          "visibility": 5147,
                          "pop": 1,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-21 15:00:00"
                        },
                        {
                          "dt": 1753120800,
                          "main": {
                            "temp": 17.01,
                            "feels_like": 17.19,
                            "temp_min": 17.01,
                            "temp_max": 17.01,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1002,
                            "humidity": 93,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 501,
                              "main": "Rain",
                              "description": "moderate rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.91,
                            "deg": 252,
                            "gust": 6.79
                          },
                          "visibility": 10000,
                          "pop": 1,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-21 18:00:00"
                        },
                        {
                          "dt": 1753131600,
                          "main": {
                            "temp": 16.86,
                            "feels_like": 16.95,
                            "temp_min": 16.86,
                            "temp_max": 16.86,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1002,
                            "humidity": 90,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 804,
                              "main": "Clouds",
                              "description": "overcast clouds",
                              "icon": "04n"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 2.18,
                            "deg": 175,
                            "gust": 5.94
                          },
                          "visibility": 10000,
                          "pop": 0.15,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-21 21:00:00"
                        },
                        {
                          "dt": 1753142400,
                          "main": {
                            "temp": 16.7,
                            "feels_like": 16.75,
                            "temp_min": 16.7,
                            "temp_max": 16.7,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1001,
                            "humidity": 89,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 804,
                              "main": "Clouds",
                              "description": "overcast clouds",
                              "icon": "04n"
                            }
                          ],
                          "clouds": {
                            "all": 100
                          },
                          "wind": {
                            "speed": 3.18,
                            "deg": 217,
                            "gust": 9.06
                          },
                          "visibility": 10000,
                          "pop": 0.05,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-22 00:00:00"
                        },
                        {
                          "dt": 1753153200,
                          "main": {
                            "temp": 15.52,
                            "feels_like": 15.5,
                            "temp_min": 15.52,
                            "temp_max": 15.52,
                            "pressure": 1007,
                            "sea_level": 1007,
                            "grnd_level": 1001,
                            "humidity": 91,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10n"
                            }
                          ],
                          "clouds": {
                            "all": 69
                          },
                          "wind": {
                            "speed": 3.94,
                            "deg": 238,
                            "gust": 9.93
                          },
                          "visibility": 10000,
                          "pop": 0.2,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-22 03:00:00"
                        },
                        {
                          "dt": 1753164000,
                          "main": {
                            "temp": 17.09,
                            "feels_like": 16.97,
                            "temp_min": 17.09,
                            "temp_max": 17.09,
                            "pressure": 1008,
                            "sea_level": 1008,
                            "grnd_level": 1003,
                            "humidity": 81,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 59
                          },
                          "wind": {
                            "speed": 4.34,
                            "deg": 239,
                            "gust": 9.06
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-22 06:00:00"
                        },
                        {
                          "dt": 1753174800,
                          "main": {
                            "temp": 22.24,
                            "feels_like": 21.93,
                            "temp_min": 22.24,
                            "temp_max": 22.24,
                            "pressure": 1009,
                            "sea_level": 1009,
                            "grnd_level": 1003,
                            "humidity": 54,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01d"
                            }
                          ],
                          "clouds": {
                            "all": 9
                          },
                          "wind": {
                            "speed": 5.19,
                            "deg": 258,
                            "gust": 7.75
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-22 09:00:00"
                        },
                        {
                          "dt": 1753185600,
                          "main": {
                            "temp": 24.37,
                            "feels_like": 23.91,
                            "temp_min": 24.37,
                            "temp_max": 24.37,
                            "pressure": 1009,
                            "sea_level": 1009,
                            "grnd_level": 1003,
                            "humidity": 40,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 45
                          },
                          "wind": {
                            "speed": 5.18,
                            "deg": 254,
                            "gust": 8.09
                          },
                          "visibility": 10000,
                          "pop": 0.2,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-22 12:00:00"
                        },
                        {
                          "dt": 1753196400,
                          "main": {
                            "temp": 23.02,
                            "feels_like": 22.71,
                            "temp_min": 23.02,
                            "temp_max": 23.02,
                            "pressure": 1010,
                            "sea_level": 1010,
                            "grnd_level": 1004,
                            "humidity": 51,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 803,
                              "main": "Clouds",
                              "description": "broken clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 75
                          },
                          "wind": {
                            "speed": 5.71,
                            "deg": 247,
                            "gust": 8.35
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-22 15:00:00"
                        },
                        {
                          "dt": 1753207200,
                          "main": {
                            "temp": 21.45,
                            "feels_like": 21.3,
                            "temp_min": 21.45,
                            "temp_max": 21.45,
                            "pressure": 1010,
                            "sea_level": 1010,
                            "grnd_level": 1005,
                            "humidity": 63,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 63
                          },
                          "wind": {
                            "speed": 4.69,
                            "deg": 248,
                            "gust": 8.42
                          },
                          "visibility": 10000,
                          "pop": 0.2,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-22 18:00:00"
                        },
                        {
                          "dt": 1753218000,
                          "main": {
                            "temp": 18.94,
                            "feels_like": 18.8,
                            "temp_min": 18.94,
                            "temp_max": 18.94,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 73,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01n"
                            }
                          ],
                          "clouds": {
                            "all": 8
                          },
                          "wind": {
                            "speed": 3.95,
                            "deg": 239,
                            "gust": 9.79
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-22 21:00:00"
                        },
                        {
                          "dt": 1753228800,
                          "main": {
                            "temp": 17.64,
                            "feels_like": 17.5,
                            "temp_min": 17.64,
                            "temp_max": 17.64,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 78,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 800,
                              "main": "Clear",
                              "description": "clear sky",
                              "icon": "01n"
                            }
                          ],
                          "clouds": {
                            "all": 10
                          },
                          "wind": {
                            "speed": 3.62,
                            "deg": 245,
                            "gust": 9.1
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-23 00:00:00"
                        },
                        {
                          "dt": 1753239600,
                          "main": {
                            "temp": 16.22,
                            "feels_like": 16.09,
                            "temp_min": 16.22,
                            "temp_max": 16.22,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1006,
                            "humidity": 84,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 801,
                              "main": "Clouds",
                              "description": "few clouds",
                              "icon": "02n"
                            }
                          ],
                          "clouds": {
                            "all": 11
                          },
                          "wind": {
                            "speed": 2.91,
                            "deg": 245,
                            "gust": 7.5
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "n"
                          },
                          "dt_txt": "2025-07-23 03:00:00"
                        },
                        {
                          "dt": 1753250400,
                          "main": {
                            "temp": 18.4,
                            "feels_like": 18.2,
                            "temp_min": 18.4,
                            "temp_max": 18.4,
                            "pressure": 1013,
                            "sea_level": 1013,
                            "grnd_level": 1007,
                            "humidity": 73,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 802,
                              "main": "Clouds",
                              "description": "scattered clouds",
                              "icon": "03d"
                            }
                          ],
                          "clouds": {
                            "all": 42
                          },
                          "wind": {
                            "speed": 3.45,
                            "deg": 251,
                            "gust": 6.06
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-23 06:00:00"
                        },
                        {
                          "dt": 1753261200,
                          "main": {
                            "temp": 22.22,
                            "feels_like": 21.96,
                            "temp_min": 22.22,
                            "temp_max": 22.22,
                            "pressure": 1012,
                            "sea_level": 1012,
                            "grnd_level": 1007,
                            "humidity": 56,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 804,
                              "main": "Clouds",
                              "description": "overcast clouds",
                              "icon": "04d"
                            }
                          ],
                          "clouds": {
                            "all": 97
                          },
                          "wind": {
                            "speed": 3.94,
                            "deg": 250,
                            "gust": 5.79
                          },
                          "visibility": 10000,
                          "pop": 0,
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-23 09:00:00"
                        },
                        {
                          "dt": 1753272000,
                          "main": {
                            "temp": 24.33,
                            "feels_like": 24.05,
                            "temp_min": 24.33,
                            "temp_max": 24.33,
                            "pressure": 1011,
                            "sea_level": 1011,
                            "grnd_level": 1006,
                            "humidity": 47,
                            "temp_kf": 0
                          },
                          "weather": [
                            {
                              "id": 500,
                              "main": "Rain",
                              "description": "light rain",
                              "icon": "10d"
                            }
                          ],
                          "clouds": {
                            "all": 92
                          },
                          "wind": {
                            "speed": 3.85,
                            "deg": 233,
                            "gust": 5.55
                          },
                          "visibility": 10000,
                          "pop": 0.23,
                          "rain": "DYNAMIC",
                          "sys": {
                            "pod": "d"
                          },
                          "dt_txt": "2025-07-23 12:00:00"
                        }
                      ],
                      "city": {
                        "id": 2950159,
                        "name": "Berlin",
                        "coord": {
                          "lat": 52.5244,
                          "lon": 13.4105
                        },
                        "country": "DE",
                        "population": 1000000,
                        "timezone": 7200,
                        "sunrise": 1752807923,
                        "sunset": 1752866363
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "OpenWeatherMap1"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}