packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-244-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking \"Test workflow\"": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "OpenAI Chat Model4": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 2,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent4",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "generations": [
                          [
                            {
                              "text": "Thought: First, I need to check the current weather in Berlin, Germany.\nAction: \n```\n{\n  \"action\": \"get_weather_data\",\n  \"action_input\": \"Berlin, Germany\"\n}\n```",
                              "generationInfo": {
                                "finish_reason": "stop"
                              }
                            }
                          ]
                        ]
                      },
                      "tokenUsage": {
                        "completionTokens": 43,
                        "promptTokens": 391,
                        "totalTokens": 434
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": "DYNAMIC",
                      "estimatedTokens": 380,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model4",
                  "runIndex": 0
                }
              ]
            }
          },
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 4,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent4",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "generations": [
                          [
                            {
                              "text": "Thought: With the weather information for Berlin, Germany obtained, the next step is to get details about the upcoming events in the city to complete the planning.\n\nAction: \n```\n{\n  \"action\": \"get_evens\",\n  \"action_input\": \"Berlin, Germany\"\n}\n```\n",
                              "generationInfo": {
                                "finish_reason": "stop"
                              }
                            }
                          ]
                        ]
                      },
                      "tokenUsage": {
                        "completionTokens": 62,
                        "promptTokens": 614,
                        "totalTokens": 676
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": "DYNAMIC",
                      "estimatedTokens": 600,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model4",
                  "runIndex": 1
                }
              ]
            }
          },
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 6,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent4",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "response": {
                        "generations": [
                          [
                            {
                              "text": "Final Answer: Today in Berlin, Germany, the weather is foggy with a temperature of 5.1°C, feeling like 4°C. There is no precipitation, and the wind is coming from the west at a speed of 1.7 km/h.\n\nFor events, there are several interesting options:\n1. **Movie Barf: Dune – Part Two** - An English-friendly film night featuring *Dune: Part Two* by Denis Villeneuve. It's a continuation of Paul Atreides' story, uniting with Chani and the Fremen for revenge. The event includes chats with guests and special drink offers.\n2. **Luboš Pospíšil & 5P** - A performance by Luboš Pospíšil with the band 5P, promising a night of great music.\n3. **Fight Club** - A screening of the iconic film *Fight Club*, offering an insomniac office worker's journey into the world of underground fighting and beyond.\n4. **Poor Things** - A film by Yorgos Lanthimos and Emma Stone, telling the fantastical story of Bella Baxter, a young woman brought back to life and her adventures across continents.\n5. **Tribute to World Legends: Michael Jackson** - A concert by Bharata Rajnošek, paying tribute to Michael Jackson with a jazz twist.\n\nAll events are scheduled to end on March 4, 2024.",
                              "generationInfo": {
                                "finish_reason": "stop"
                              }
                            }
                          ]
                        ]
                      },
                      "tokenUsage": {
                        "completionTokens": 300,
                        "promptTokens": 1337,
                        "totalTokens": 1637
                      }
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_languageModel": [
                [
                  {
                    "json": {
                      "messages": "DYNAMIC",
                      "estimatedTokens": 1320,
                      "options": {
                        "openai_api_key": {
                          "lc": 1,
                          "type": "secret",
                          "id": [
                            "OPENAI_API_KEY"
                          ]
                        },
                        "model": "gpt-4-turbo-preview",
                        "temperature": 0,
                        "timeout": 60000,
                        "max_retries": 2,
                        "configuration": {
                          "baseURL": "https://api.openai.com/v1",
                          "fetchOptions": {}
                        },
                        "model_kwargs": {}
                      }
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subRun": [
                {
                  "node": "OpenAI Chat Model4",
                  "runIndex": 2
                }
              ]
            }
          }
        ],
        "Get Weather": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 3,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent4",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "response": "{\n    \"created\": \"2024-03-04T09:26:23+01:00\",\n    \"symbolCode\": {\n        \"next1Hour\": \"fog\"\n    },\n    \"temperature\": {\n        \"value\": 5.1,\n        \"feelsLike\": 4\n    },\n    \"precipitation\": {\n        \"value\": 0.0\n    },\n    \"wind\": {\n        \"direction\": 275,\n        \"speed\": 1.7\n    },\n    \"status\": {\n        \"code\": \"Ok\"\n    }\n}"
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "Berlin, Germany"
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subExecution": {
                "executionId": "6908",
                "workflowId": "244"
              },
              "subRun": [
                {
                  "node": "Get Weather",
                  "runIndex": 0
                }
              ]
            }
          }
        ],
        "Get Events": [
          {
            "startTime": "DYNAMIC",
            "executionTime": "DYNAMIC",
            "executionIndex": 5,
            "executionStatus": "success",
            "source": [
              {
                "previousNode": "AI Agent4",
                "previousNodeRun": 0
              }
            ],
            "data": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "response": "[\n    {\n        \"description\": \"***Movie Barf* is a new English friendly film night presented by film journalist and blogger Ryan Keating-Lambert, dedicated to screening a diverse variety of award-winning films both contemporary and classic. Ryan’s late night shows includes intriguing chats with various guests (in person or over Skype in the case of the international ones) and special drink offers at the bar.**\\n\\n*Dune: Part Two* / Denis Villeneuve / Canada, USA 2024 / 166 min – Paul Atreides unites with Chani and the Fremen while seeking revenge against the conspirators who destroyed his family.\",\n        \"name\": \"Movie Barf: Dune – Part Two\",\n        \"endDate\": \"Mon Mar 04 2024 23:59:59 GMT+0100 (Central European Standard Time)\"\n    },\n    {\n        \"description\": \"Luboš Pospíšil will perform with the renewed band 5P on March 14 at the cultural house of Barikadník.\",\n        \"name\": \"Luboš Pospíšil & 5P\",\n        \"endDate\": \"Mon Mar 04 2024 23:59:59 GMT+0100 (Central European Standard Time)\"\n    },\n    {\n        \"description\": \"An insomniac office worker looking for a way to change his life crosses paths with a devil-may-care soap maker and they form an underground fight club that evolves into something much, much more...\",\n        \"name\": \"Fight Club\",\n        \"endDate\": \"Mon Mar 04 2024 23:59:59 GMT+0100 (Central European Standard Time)\"\n    },\n    {\n        \"description\": \"From filmmaker Yorgos Lanthimos and producer Emma Stone comes the incredible tale and fantastical evolution of Bella Baxter (Stone), a young woman brought back to life by the brilliant and unorthodox scientist Dr. Godwin Baxter (Willem Dafoe). Under Baxter's protection, Bella is eager to learn. Hungry for the worldliness she is lacking, she runs off with Duncan Wedderburn (Mark Ruffalo), a slick and debauched lawyer, on a whirlwind adventure across the continents. Free from the prejudices of her times, Bella grows steadfast in her purpose to stand for equality and liberation.\",\n        \"name\": \"Poor Things\",\n        \"endDate\": \"Mon Mar 04 2024 23:59:59 GMT+0100 (Central European Standard Time)\"\n    },\n    {\n        \"description\": \"Concert of Bharata Rajnošek, who decided to do something very brave - pay tribute to king of the pop, Michael Jackson in jazz.\",\n        \"name\": \"Tribute to World Legends: Michael Jackson\",\n        \"endDate\": \"Mon Mar 04 2024 23:59:59 GMT+0100 (Central European Standard Time)\"\n    }\n]"
                    }
                  }
                ]
              ]
            },
            "inputOverride": {
              "ai_tool": [
                [
                  {
                    "json": {
                      "query": "Berlin, Germany"
                    }
                  }
                ]
              ]
            },
            "metadata": {
              "subExecution": {
                "executionId": "6913",
                "workflowId": "244"
              },
              "subRun": [
                {
                  "node": "Get Events",
                  "runIndex": 0
                }
              ]
            }
          }
        ],
        "AI Agent4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "When clicking \"Test workflow\""
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "output": "Today in Berlin, Germany, the weather is foggy with a temperature of 5.1°C, feeling like 4°C. There is no precipitation, and the wind is coming from the west at a speed of 1.7 km/h.\n\nFor events, there are several interesting options:\n1. **Movie Barf: Dune – Part Two** - An English-friendly film night featuring *Dune: Part Two* by Denis Villeneuve. It's a continuation of Paul Atreides' story, uniting with Chani and the Fremen for revenge. The event includes chats with guests and special drink offers.\n2. **Luboš Pospíšil & 5P** - A performance by Luboš Pospíšil with the band 5P, promising a night of great music.\n3. **Fight Club** - A screening of the iconic film *Fight Club*, offering an insomniac office worker's journey into the world of underground fighting and beyond.\n4. **Poor Things** - A film by Yorgos Lanthimos and Emma Stone, telling the fantastical story of Bella Baxter, a young woman brought back to life and her adventures across continents.\n5. **Tribute to World Legends: Michael Jackson** - A concert by Bharata Rajnošek, paying tribute to Michael Jackson with a jazz twist.\n\nAll events are scheduled to end on March 4, 2024."
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Edit Fields6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "AI Agent4"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "has_weather": true,
                      "has_movie": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Edit Fields6"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {
        "OpenAI Chat Model4": [
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model4",
                "runIndex": 0
              }
            ]
          },
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model4",
                "runIndex": 1
              }
            ]
          },
          {
            "subRun": [
              {
                "node": "OpenAI Chat Model4",
                "runIndex": 2
              }
            ]
          }
        ],
        "Get Weather": [
          {
            "subRun": [
              {
                "node": "Get Weather",
                "runIndex": 0
              }
            ]
          }
        ],
        "Get Events": [
          {
            "subRun": [
              {
                "node": "Get Events",
                "runIndex": 0
              }
            ]
          }
        ]
      },
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}