packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-229-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "18ag88e7RoFgLhFXkWG8dyoIHVYjz75xy",
                      "name": "testFolder"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive14": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#file",
                      "id": "1_mV9x71VZ0FJDu1yFo6fTlYT-L5a5WOd",
                      "name": "testFile",
                      "mimeType": "text/plain"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#file",
                      "id": "15Mna40vMnT6wsv3CG279IyumxZzgTPQJ",
                      "name": "testFile",
                      "mimeType": "text/plain"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1f9i8PBdtAOn8gO_DideCQlQjWs5e3Tla",
                      "name": "testFolder"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive12": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Google Drive11"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#permission",
                      "id": "anyoneWithLink",
                      "type": "anyone",
                      "role": "reader",
                      "allowFileDiscovery": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive15": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Google Drive14"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#permission",
                      "id": "anyoneWithLink",
                      "type": "anyone",
                      "role": "reader",
                      "allowFileDiscovery": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Google Drive3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#permission",
                      "id": "anyoneWithLink",
                      "type": "anyone",
                      "role": "reader",
                      "allowFileDiscovery": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Google Drive"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#permission",
                      "id": "anyoneWithLink",
                      "type": "anyone",
                      "role": "reader",
                      "allowFileDiscovery": false
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive13": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Google Drive12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "18ag88e7RoFgLhFXkWG8dyoIHVYjz75xy",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive16": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Google Drive15"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
                      "name": "oupa"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Google Drive4"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
                      "name": "oupa"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Google Drive1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "1f9i8PBdtAOn8gO_DideCQlQjWs5e3Tla",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive17": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Google Drive16"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
                      "name": "oupa"
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "fileType": "text",
                        "fileExtension": "txt",
                        "data": "VGVzdCBGaWxlIENvbnRlbnQ=",
                        "fileName": "testFile",
                        "fileSize": "17 B"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 14,
            "source": [
              {
                "previousNode": "Google Drive5"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "1YNeDnFJOaq3mDazf8Ezm3V3K-aIKdmugke2m89Qf3dg",
                      "name": "oupa"
                    },
                    "binary": {
                      "data": {
                        "mimeType": "text/plain",
                        "fileType": "text",
                        "fileExtension": "txt",
                        "data": "VGVzdCBGaWxlIENvbnRlbnQ=",
                        "fileName": "testFile",
                        "fileSize": "17 B"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive18": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 15,
            "source": [
              {
                "previousNode": "Google Drive17"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#file",
                      "id": "1wetSowvGNOx08s-J744Y49PFMMbLdPVx",
                      "name": "testFile",
                      "mimeType": "text/plain"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 16,
            "source": [
              {
                "previousNode": "Google Drive6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "kind": "drive#file",
                      "id": "1j-fee9_rItTtDMD4LBNVWoPaLT63DwqE",
                      "name": "testFile",
                      "mimeType": "text/plain"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive19": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 17,
            "source": [
              {
                "previousNode": "Google Drive18"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "1_mV9x71VZ0FJDu1yFo6fTlYT-L5a5WOd",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 18,
            "source": [
              {
                "previousNode": "Google Drive7"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "15Mna40vMnT6wsv3CG279IyumxZzgTPQJ",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 19,
            "source": [
              {
                "previousNode": "Google Drive19"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "1wetSowvGNOx08s-J744Y49PFMMbLdPVx",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Google Drive9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 20,
            "source": [
              {
                "previousNode": "Google Drive8"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "fileId": "1j-fee9_rItTtDMD4LBNVWoPaLT63DwqE",
                      "success": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Google Drive9"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}