packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-230-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "When clicking \"Execute Workflow\"": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "VirusTotal HTTP Request": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "When clicking \"Execute Workflow\""
              }
            ],
            "hints": [
              {
                "message": "To split the contents of ‘data’ into separate items for easier processing, add a ‘Split Out’ node after this one",
                "location": "outputPane"
              }
            ],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "data": [
                        "adware",
                        "banker",
                        "downloader",
                        "dropper",
                        "fakeav",
                        "hacktool",
                        "miner",
                        "phishing",
                        "pua",
                        "ransomware",
                        "spyware",
                        "trojan",
                        "virus",
                        "worm"
                      ]
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "VirusTotal HTTP Request"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}