packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-108-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value2": 5
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop2": 2,
                      "prop4": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop2": 2,
                      "prop3": -2,
                      "prop4": -3
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set13": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Set12": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop3": 2,
                      "prop4": -4
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input1item1"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "title": "Input1item2"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "title": "Input1item3"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function12": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 14,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 15,
            "source": [
              {
                "previousNode": "Set"
              },
              {
                "previousNode": "Set1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  },
                  {
                    "json": {
                      "value2": 5
                    },
                    "pairedItem": {
                      "item": 0,
                      "input": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 16,
            "source": [
              {
                "previousNode": "Set2"
              },
              {
                "previousNode": "Set3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 17,
            "source": [
              {
                "previousNode": "Set7"
              },
              {
                "previousNode": "Set6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 18,
            "source": [
              {
                "previousNode": "Set7"
              },
              {
                "previousNode": "Set6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 19,
            "source": [
              {
                "previousNode": "Set7"
              },
              {
                "previousNode": "Set6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 20,
            "source": [
              {
                "previousNode": "Set9"
              },
              {
                "previousNode": "Set8"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1,
                      "prop3": 2,
                      "prop4": -4
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      },
                      {
                        "item": 0,
                        "input": 1
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Merge9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 21,
            "source": [
              {
                "previousNode": "Set11"
              },
              {
                "previousNode": "Set10"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 22,
            "source": [
              {
                "previousNode": "Set13"
              },
              {
                "previousNode": "Set12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Merge3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 23,
            "source": [
              {
                "previousNode": "Function11"
              },
              {
                "previousNode": "Function12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      },
                      {
                        "item": 0,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": [
                      {
                        "item": 1
                      },
                      {
                        "item": 1,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": [
                      {
                        "item": 2
                      },
                      {
                        "item": 2,
                        "input": 1
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Merge2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 24,
            "source": [
              {
                "previousNode": "Function11"
              },
              {
                "previousNode": "Function12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      },
                      {
                        "item": 0,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": [
                      {
                        "item": 1
                      },
                      {
                        "item": 1,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": [
                      {
                        "item": 2
                      },
                      {
                        "item": 2,
                        "input": 1
                      }
                    ]
                  }
                ]
              ]
            }
          }
        ],
        "Merge4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 25,
            "source": [
              {
                "previousNode": "Function11"
              },
              {
                "previousNode": "Function12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": [
                      {
                        "item": 0
                      },
                      {
                        "item": 0,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": [
                      {
                        "item": 1
                      },
                      {
                        "item": 1,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": [
                      {
                        "item": 2
                      },
                      {
                        "item": 2,
                        "input": 1
                      }
                    ]
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    },
                    "pairedItem": {
                      "item": 3,
                      "input": 1
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Function": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 26,
            "source": [
              {
                "previousNode": "Merge"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "value1": true
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  },
                  {
                    "json": {
                      "value2": 5
                    },
                    "pairedItem": {
                      "item": 1
                    },
                    "index": 1
                  }
                ]
              ]
            }
          }
        ],
        "Function1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 27,
            "source": [
              {
                "previousNode": "Merge1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 28,
            "source": [
              {
                "previousNode": "Merge5"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 29,
            "source": [
              {
                "previousNode": "Merge6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 30,
            "source": [
              {
                "previousNode": "Merge7"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop3": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 31,
            "source": [
              {
                "previousNode": "Merge8"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1,
                      "prop3": 2,
                      "prop4": -4
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 32,
            "source": [
              {
                "previousNode": "Merge9"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 33,
            "source": [
              {
                "previousNode": "Merge10"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "prop1": 1,
                      "prop2": -1
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  }
                ]
              ]
            }
          }
        ],
        "Function3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 34,
            "source": [
              {
                "previousNode": "Merge3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": {
                      "item": 1
                    },
                    "index": 1
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": {
                      "item": 2
                    },
                    "index": 2
                  }
                ]
              ]
            }
          }
        ],
        "Function2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 35,
            "source": [
              {
                "previousNode": "Merge2"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": {
                      "item": 1
                    },
                    "index": 1
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": {
                      "item": 2
                    },
                    "index": 2
                  }
                ]
              ]
            }
          }
        ],
        "Function4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 36,
            "source": [
              {
                "previousNode": "Merge4"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "Input2item1"
                    },
                    "pairedItem": {
                      "item": 0
                    },
                    "index": 0
                  },
                  {
                    "json": {
                      "title": "Input2item2"
                    },
                    "pairedItem": {
                      "item": 1
                    },
                    "index": 1
                  },
                  {
                    "json": {
                      "title": "Input2item3"
                    },
                    "pairedItem": {
                      "item": 2
                    },
                    "index": 2
                  },
                  {
                    "json": {
                      "title": "Input2item4"
                    },
                    "pairedItem": {
                      "item": 3
                    },
                    "index": 3
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Function4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}