packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-166-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom5": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "687a43605d336a02ca4954c5",
                      "user_id": "4ab2acfe-9cae-4452-8d67-eb342a2748d7",
                      "anonymous": true,
                      "email": "fake1752843103780@email.com",
                      "phone": null,
                      "name": null,
                      "pseudonym": "Amber Fish",
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843104,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom10": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "687a436015e6f5d306fd8b9f",
                      "user_id": "User1752843104420",
                      "anonymous": false,
                      "email": "",
                      "phone": null,
                      "name": null,
                      "pseudonym": null,
                      "avatar": {
                        "type": "avatar",
                        "image_url": null
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843104,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1752843104964",
                      "id": "687a436192bd1c000824ab86",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2025-07-18T12:51:44.966Z",
                      "created_at": 1752843105,
                      "updated_at": 1752843105,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "plan": {},
                      "custom_attributes": {
                        "creation_source": "api"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom6": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Intercom5"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "687a43605d336a02ca4954c5",
                      "user_id": "4ab2acfe-9cae-4452-8d67-eb342a2748d7",
                      "anonymous": true,
                      "email": "fake1752843103780@email.com",
                      "phone": null,
                      "name": null,
                      "pseudonym": "Amber Fish",
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843104,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom11": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Intercom10"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "687a436015e6f5d306fd8b9f",
                      "user_id": "User1752843104420",
                      "anonymous": false,
                      "email": "",
                      "phone": null,
                      "name": null,
                      "pseudonym": null,
                      "avatar": {
                        "type": "avatar",
                        "image_url": null
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843104,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Intercom1"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1752843104964",
                      "id": "687a436192bd1c000824ab86",
                      "app_id": "t5y9d4d1",
                      "name": "TestingCompany2025-07-18T12:51:44.966Z",
                      "created_at": 1752843105,
                      "updated_at": 1752843105,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "plan": {},
                      "custom_attributes": {
                        "creation_source": "api"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom7": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Intercom6"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "682640e516500e28bbeaed11",
                      "user_id": "3691afca-c0a7-46c7-9cbf-4f5ac3e1da9a",
                      "anonymous": true,
                      "email": "fake1747337445292@email.com",
                      "phone": null,
                      "name": null,
                      "pseudonym": "Turquoise Cactus",
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {
                        "type": "location_data",
                        "city_name": null,
                        "continent_code": null,
                        "country_name": null,
                        "postal_code": null,
                        "region_name": null,
                        "timezone": null,
                        "country_code": null
                      },
                      "last_request_at": null,
                      "created_at": 1747337445,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1747337445,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom12": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Intercom11"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "682640e6d3d8a6ae674aea64",
                      "user_id": "User1747337445888",
                      "anonymous": false,
                      "email": null,
                      "phone": null,
                      "name": null,
                      "pseudonym": null,
                      "avatar": {
                        "type": "avatar",
                        "image_url": null
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {
                        "type": "location_data",
                        "city_name": null,
                        "continent_code": null,
                        "country_name": null,
                        "postal_code": null,
                        "region_name": null,
                        "timezone": null,
                        "country_code": null
                      },
                      "last_request_at": null,
                      "created_at": 1747337446,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1747337446,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom2": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Intercom"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "607ea26e5e1f73dc32c434bd-qualification-company",
                      "id": "607ea26e5e1f73dc32c434bc",
                      "app_id": "t5y9d4d1",
                      "name": "Acme",
                      "created_at": 1618911854,
                      "updated_at": 1618911854,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 1,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "plan": {},
                      "custom_attributes": {}
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom8": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Intercom7"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "687a43605d336a02ca4954c5",
                      "user_id": "4ab2acfe-9cae-4452-8d67-eb342a2748d7",
                      "anonymous": true,
                      "email": "fake1752843103780@email.com",
                      "phone": null,
                      "name": "UpdatedLead",
                      "pseudonym": "Amber Fish",
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843108,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom13": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Intercom12"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "687a436015e6f5d306fd8b9f",
                      "user_id": "User1752843104420",
                      "anonymous": false,
                      "email": "",
                      "phone": null,
                      "name": "UpdatedUser",
                      "pseudonym": null,
                      "avatar": {
                        "type": "avatar",
                        "image_url": null
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843108,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom3": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Intercom2"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "company",
                      "company_id": "Company1752843104964",
                      "id": "687a436192bd1c000824ab86",
                      "app_id": "t5y9d4d1",
                      "name": "UpdatedTestingCompany2025-07-18T12:51:44.966Z",
                      "created_at": 1752843105,
                      "updated_at": 1752843109,
                      "monthly_spend": 0,
                      "session_count": 0,
                      "user_count": 0,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "plan": {},
                      "custom_attributes": {
                        "creation_source": "api"
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom9": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 13,
            "source": [
              {
                "previousNode": "Intercom8"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "contact",
                      "id": "687a43605d336a02ca4954c5",
                      "user_id": "4ab2acfe-9cae-4452-8d67-eb342a2748d7",
                      "anonymous": true,
                      "email": "fake1752843103780@email.com",
                      "phone": null,
                      "name": "UpdatedLead",
                      "pseudonym": "Amber Fish",
                      "avatar": {
                        "type": "avatar",
                        "image_url": "https://static.intercomassets.com/ember/assets/images/onboarding/home/guide-assistants/phil-978b5567c644d4c0f67a4516c03c6b91.png"
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843109,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom14": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 14,
            "source": [
              {
                "previousNode": "Intercom13"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "type": "user",
                      "id": "687a436015e6f5d306fd8b9f",
                      "user_id": "User1752843104420",
                      "anonymous": false,
                      "email": "",
                      "phone": null,
                      "name": "UpdatedUser",
                      "pseudonym": null,
                      "avatar": {
                        "type": "avatar",
                        "image_url": null
                      },
                      "app_id": "t5y9d4d1",
                      "companies": {
                        "type": "company.list",
                        "companies": []
                      },
                      "location_data": {},
                      "last_request_at": null,
                      "created_at": 1752843104,
                      "remote_created_at": null,
                      "signed_up_at": null,
                      "updated_at": 1752843110,
                      "session_count": 0,
                      "social_profiles": {
                        "type": "social_profile.list",
                        "social_profiles": []
                      },
                      "owner_id": null,
                      "unsubscribed_from_emails": false,
                      "marked_email_as_spam": false,
                      "has_hard_bounced": false,
                      "tags": {
                        "type": "tag.list",
                        "tags": []
                      },
                      "segments": {
                        "type": "segment.list",
                        "segments": []
                      },
                      "custom_attributes": {},
                      "referrer": null,
                      "utm_campaign": null,
                      "utm_content": null,
                      "utm_medium": null,
                      "utm_source": null,
                      "utm_term": null,
                      "do_not_track": null
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Intercom4": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 15,
            "source": [
              {
                "previousNode": "Intercom3"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                []
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Intercom4"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}