packages/testing/playwright/test-workflows/workflow-tests.spec.ts-snapshots/workflow-35-mode-workflows.snap
{
  "data": {
    "startData": {},
    "resultData": {
      "runData": {
        "Start": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 0,
            "source": [],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {},
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 1,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "",
                      "phone": "",
                      "skype": "",
                      "real_name": "nodeqa",
                      "real_name_normalized": "nodeqa",
                      "display_name": "",
                      "display_name_normalized": "",
                      "fields": {},
                      "status_text": "Testing...",
                      "status_emoji": ":speech_balloon:",
                      "status_emoji_display_info": [
                        {
                          "emoji_name": "speech_balloon",
                          "display_url": "https://a.slack-edge.com/production-standard-emoji-assets/14.0/apple-large/1f4ac.png",
                          "unicode": "1f4ac"
                        }
                      ],
                      "status_expiration": 0,
                      "avatar_hash": "gc81277605b1",
                      "email": "nodeqa@n8n.io",
                      "image_24": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png",
                      "image_32": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png",
                      "image_48": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-48.png",
                      "image_72": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-72.png",
                      "image_192": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-192.png",
                      "image_512": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-512.png",
                      "status_text_canonical": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack13": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 2,
            "source": [
              {
                "previousNode": "Start"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "channel": "C01MZ82T9TR",
                      "ts": "1752843135.644359",
                      "message": {
                        "user": "U01NE1E8FFU",
                        "type": "message",
                        "ts": "1752843135.644359",
                        "bot_id": "B01N7A6G69L",
                        "app_id": "A01P3SQEP1N",
                        "text": "Message atFri Jul 18 2025 13:52:15 GMT+0100 (Irish Standard Time)",
                        "team": "T01MZ82R8NB",
                        "bot_profile": {
                          "id": "B01N7A6G69L",
                          "app_id": "A01P3SQEP1N",
                          "name": "n8n-qa-test",
                          "icons": {
                            "image_36": "https://a.slack-edge.com/80588/img/plugins/app/bot_36.png",
                            "image_48": "https://a.slack-edge.com/80588/img/plugins/app/bot_48.png",
                            "image_72": "https://a.slack-edge.com/80588/img/plugins/app/service_72.png"
                          },
                          "deleted": false,
                          "updated": 1613576134,
                          "team_id": "T01MZ82R8NB"
                        },
                        "blocks": [
                          {
                            "type": "rich_text",
                            "block_id": "YS2",
                            "elements": [
                              {
                                "type": "rich_text_section",
                                "elements": [
                                  {
                                    "type": "text",
                                    "text": "Message atFri Jul 18 2025 13:52:15 GMT+0100 (Irish Standard Time)"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack1": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 3,
            "source": [
              {
                "previousNode": "Slack"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "title": "",
                      "phone": "",
                      "skype": "",
                      "real_name": "nodeqa",
                      "real_name_normalized": "nodeqa",
                      "display_name": "",
                      "display_name_normalized": "",
                      "fields": {},
                      "status_text": "Testing...",
                      "status_emoji": ":speech_balloon:",
                      "status_emoji_display_info": [
                        {
                          "emoji_name": "speech_balloon",
                          "display_url": "https://a.slack-edge.com/production-standard-emoji-assets/14.0/apple-large/1f4ac.png",
                          "unicode": "1f4ac"
                        }
                      ],
                      "status_expiration": 0,
                      "avatar_hash": "gc81277605b1",
                      "email": "nodeqa@n8n.io",
                      "image_24": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png",
                      "image_32": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png",
                      "image_48": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-48.png",
                      "image_72": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-72.png",
                      "image_192": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-192.png",
                      "image_512": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-512.png",
                      "status_text_canonical": ""
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack18": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 4,
            "source": [
              {
                "previousNode": "Slack13"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack24": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 5,
            "source": [
              {
                "previousNode": "Slack13"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "presence": "away",
                      "online": false,
                      "auto_away": false,
                      "manual_away": false,
                      "connection_count": 0
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack19": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 6,
            "source": [
              {
                "previousNode": "Slack18"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "type": "message",
                      "message": {
                        "user": "U01NE1E8FFU",
                        "type": "message",
                        "ts": "1752843135.644359",
                        "bot_id": "B01N7A6G69L",
                        "app_id": "A01P3SQEP1N",
                        "text": "Message atFri Jul 18 2025 13:52:15 GMT+0100 (Irish Standard Time)",
                        "team": "T01MZ82R8NB",
                        "bot_profile": {
                          "id": "B01N7A6G69L",
                          "deleted": false,
                          "name": "n8n-qa-test",
                          "updated": 1613576134,
                          "app_id": "A01P3SQEP1N",
                          "icons": {
                            "image_36": "https://a.slack-edge.com/80588/img/plugins/app/bot_36.png",
                            "image_48": "https://a.slack-edge.com/80588/img/plugins/app/bot_48.png",
                            "image_72": "https://a.slack-edge.com/80588/img/plugins/app/service_72.png"
                          },
                          "team_id": "T01MZ82R8NB"
                        },
                        "blocks": [
                          {
                            "type": "rich_text",
                            "block_id": "3B9",
                            "elements": [
                              {
                                "type": "rich_text_section",
                                "elements": [
                                  {
                                    "type": "text",
                                    "text": "Message atFri Jul 18 2025 13:52:15 GMT+0100 (Irish Standard Time)"
                                  }
                                ]
                              }
                            ]
                          }
                        ],
                        "reactions": [
                          {
                            "name": "+1",
                            "users": [
                              "U01NE1E8FFU"
                            ],
                            "count": 1
                          }
                        ],
                        "permalink": "https://n8n-qa.slack.com/archives/C01MZ82T9TR/p1752843135644359"
                      },
                      "channel": "C01MZ82T9TR"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack25": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 7,
            "source": [
              {
                "previousNode": "Slack24"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "id": "U01NE1E8FFU",
                      "name": "nodeqa",
                      "is_bot": false,
                      "updated": 1752843135,
                      "is_app_user": false,
                      "team_id": "T01MZ82R8NB",
                      "deleted": false,
                      "color": "9f69e7",
                      "is_email_confirmed": true,
                      "real_name": "nodeqa",
                      "tz": "Europe/Amsterdam",
                      "tz_label": "Central European Summer Time",
                      "tz_offset": 7200,
                      "is_admin": true,
                      "is_owner": true,
                      "is_primary_owner": true,
                      "is_restricted": false,
                      "is_ultra_restricted": false,
                      "has_2fa": false,
                      "who_can_share_contact_card": "EVERYONE",
                      "profile": {
                        "real_name": "nodeqa",
                        "display_name": "",
                        "avatar_hash": "gc81277605b1",
                        "real_name_normalized": "nodeqa",
                        "display_name_normalized": "",
                        "image_24": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-24.png",
                        "image_32": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-32.png",
                        "image_48": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-48.png",
                        "image_72": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-72.png",
                        "image_192": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-192.png",
                        "image_512": "https://secure.gravatar.com/avatar/c81277605b129fdafaacede5ae34e07c.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2Fdf10d%2Fimg%2Favatars%2Fava_0015-512.png",
                        "team": "T01MZ82R8NB",
                        "email": "nodeqa@n8n.io",
                        "title": "",
                        "phone": "",
                        "skype": "",
                        "status_text": "Testing...",
                        "status_text_canonical": "",
                        "status_emoji": ":speech_balloon:",
                        "status_emoji_display_info": [
                          {
                            "emoji_name": "speech_balloon",
                            "display_url": "https://a.slack-edge.com/production-standard-emoji-assets/14.0/apple-large/1f4ac.png",
                            "unicode": "1f4ac"
                          }
                        ],
                        "status_expiration": 0
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack20": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 8,
            "source": [
              {
                "previousNode": "Slack19"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack14": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 9,
            "source": [
              {
                "previousNode": "Slack20"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "permalink": "https://n8n-qa.slack.com/archives/C01MZ82T9TR/p1752843135644359",
                      "channel": "C01MZ82T9TR"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack15": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 10,
            "source": [
              {
                "previousNode": "Slack14"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "channel": "C01MZ82T9TR",
                      "ts": "1752843135.644359",
                      "text": "Message Updated ",
                      "message": {
                        "user": "U01NE1E8FFU",
                        "type": "message",
                        "edited": {
                          "user": "B01N7A6G69L",
                          "ts": "1752843137.000000"
                        },
                        "bot_id": "B01N7A6G69L",
                        "app_id": "A01P3SQEP1N",
                        "text": "Message Updated ",
                        "team": "T01MZ82R8NB",
                        "bot_profile": {
                          "id": "B01N7A6G69L",
                          "app_id": "A01P3SQEP1N",
                          "name": "n8n-qa-test",
                          "icons": {
                            "image_36": "https://a.slack-edge.com/80588/img/plugins/app/bot_36.png",
                            "image_48": "https://a.slack-edge.com/80588/img/plugins/app/bot_48.png",
                            "image_72": "https://a.slack-edge.com/80588/img/plugins/app/service_72.png"
                          },
                          "deleted": false,
                          "updated": 1613576134,
                          "team_id": "T01MZ82R8NB"
                        },
                        "blocks": [
                          {
                            "type": "rich_text",
                            "block_id": "OhtD",
                            "elements": [
                              {
                                "type": "rich_text_section",
                                "elements": [
                                  {
                                    "type": "text",
                                    "text": "Message Updated"
                                  }
                                ]
                              }
                            ]
                          }
                        ]
                      }
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack16": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 11,
            "source": [
              {
                "previousNode": "Slack15"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "message_ts": "1752843137.000900"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ],
        "Slack17": [
          {
            "startTime": "DYNAMIC",
            "executionIndex": 12,
            "source": [
              {
                "previousNode": "Slack16"
              }
            ],
            "hints": [],
            "executionTime": "DYNAMIC",
            "executionStatus": "success",
            "data": {
              "main": [
                [
                  {
                    "json": {
                      "ok": true,
                      "channel": "C01MZ82T9TR",
                      "ts": "1752843135.644359"
                    },
                    "pairedItem": {
                      "item": 0
                    }
                  }
                ]
              ]
            }
          }
        ]
      },
      "lastNodeExecuted": "Slack17"
    },
    "executionData": {
      "contextData": {},
      "nodeExecutionStack": [],
      "metadata": {},
      "waitingExecution": {},
      "waitingExecutionSource": {}
    }
  },
  "mode": "cli",
  "startedAt": "DYNAMIC",
  "stoppedAt": "DYNAMIC",
  "status": "running",
  "finished": true
}